<section class="iga-solutions">
  <div class="container">
    <section class="iga-solutions-container">
      <div class="row">
        <div class="iga-solutions-content col-md-6 col-xs-12">
          <h2>Solve key Identity Governance & Administration challenges</h2>
          <ul class="iga-points-list">
            <li><span>Risk of excessive privileges</span></li>
            <li><span>Need for both cloud and on-premise support</span></li>
            <li><span>Compliance efforts not efficient enough</span></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</section>