<section @slideUp class="potential-diffs">
  <div class="container">
    <header class="potential-diffs-hdr">
      <div>
        <h2>Potential Differentiators for IAM solutions</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat.</p>
      </div>
      <button type="button" class="btn btn-outline-dark know-more-btn">Know More</button>
    </header>

  </div>
</section>
<section @slideUp class="differentiators">
  <div class="container flex-row-wrap">
    <div class="diff-item">
      <div class="icon-container icon-bg-deep-blu">

      </div>
      <div class="diff-content">
        <h3>Skilled Resources</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat.</p>
      </div>
    </div>
    <div class="diff-item">
      <div class="icon-container icon-bg-pink">

      </div>
      <div class="diff-content">
        <h3>Industry Experience</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat.</p>
      </div>
    </div>
    <div class="diff-item flex-row-nowrap">
      <div class="icon-container icon-bg-purple">

      </div>
      <div class="diff-content">
        <h3>Center of Excellence (CoE)</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat.</p>
      </div>
    </div>
    <div class="diff-item flex-row-nowrap">
      <div class="icon-container icon-bg-blu">

      </div>
      <div class="diff-content">
        <h3>Trainings</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat.</p>
      </div>
    </div>
    <div class="diff-item flex-row-nowrap">
      <div class="icon-container icon-bg-pink">

      </div>
      <div class="diff-content">
        <h3>Innovation</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat.</p>
      </div>
    </div>
    <div class="diff-item flex-row-nowrap">
      <div class="icon-container icon-bg-green">

      </div>
      <div class="diff-content">
        <h3>Alliance & Partnership</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat.</p>
      </div>
    </div>
  </div>
</section>
