<div class="potential-diffs-container">
  <section @slideUp class="potential-diffs">
    <div class="container">
      <header class="potential-diffs-hdr">
        <div>
          <h2>{{potentialDiffObj?.hdng}}</h2>
          <p>{{potentialDiffObj?.content}}</p>
        </div>
        <button type="button" class="btn btn-outline-dark know-more-btn">Know More</button>
      </header>
  
    </div>
  </section>
  <section @slideUp class="differentiators">
    <div class="container flex-row-wrap">
      <div class="row diff-row">
        <div class="diff-item col-md-4" *ngFor="let item of potentialDiffObj?.featuresObj">
          <div class="icon-container">
    
          </div>
          <div class="diff-content">
            <h3>{{item?.title}}</h3>
            <p>{{item?.info}}</p>
          </div>
        </div>
        <!-- <div class="diff-item col-md-4">
          <div class="icon-container icon-bg-pink">
    
          </div>
          <div class="diff-content">
            <h3>Industry Experience</h3>
            <p>Over 200 successful Identity Security & Cyber Sec engagements. We’ve developed vertical-specific processes and solution frameworks to deliver tailored solutions</p>
          </div>
        </div>
        <div class="diff-item col-md-4 flex-row-nowrap">
          <div class="icon-container icon-bg-purple">
    
          </div>
          <div class="diff-content">
            <h3>Center of Excellence (CoE)</h3>
            <p>A dedicated team of SMEs to ensure thought leadership, provide technology expertise guidance, and offer frameworks to expedite deployment cycles, improving project timelines.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="diff-item flex-row-nowrap col-md-4">
          <div class="icon-container icon-bg-blu">
    
          </div>
          <div class="diff-content">
            <h3>Trainings</h3>
            <p>Industry-proven training methodology for transferring Identity Security functional and technical knowledge. Includes a dedicated Identity Security Training Lab</p>
          </div>
        </div>
        <div class="diff-item flex-row-nowrap col-md-4">
          <div class="icon-container icon-bg-pink">
    
          </div>
          <div class="diff-content">
            <h3>Innovation</h3>
            <p>Innovation is in our DNA. We boast a robust product line used to develop utilities & accelerators, aiding clients in their Identity Journey, implementation and support</p>
          </div>
        </div>
        <div class="diff-item flex-row-nowrap col-md-4">
          <div class="icon-container icon-bg-green">
    
          </div>
          <div class="diff-content">
            <h3>Alliance & Partnership</h3>
            <p>Reseller and services partnerships with leading Identity product vendors in the USA, Canada, and India.</p>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  
</div>