.potential-diffs-container {
  background-color: #f2f9fe;
  // padding-top: 6rem;
  // margin-top: 3rem;
  // .potential-diffs {
  //   padding-top: 6rem;
  // }

  .potential-diffs .potential-diffs-hdr {
    position: relative;
    .head-section {
      justify-content: space-between;
    }
  }

  .potential-diffs .know-more-btn {
    // position: absolute;
    // right: 1rem;
    // top: 1rem;
  }

  .potential-diffs-hdr p {
    width: 75%;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  .differentiators {
    // padding: 3rem 1rem;
    // // background-color: #f3f4fa;
    .diff-item {
      position: relative;
      min-height: 6rem;
      // margin-bottom: 1rem;
      // width: 30%;
    }
    .diff-row {
      // display: flex;
      // flex-flow: row wrap;
      // justify-content: space-evenly;
      .diff-item:first-child .icon-container {
        background-color: #c2e3f8;
      }
      .diff-item:nth-child(2) .icon-container {
        background-color: #c2e2f8;
      }
      .diff-item:nth-child(3) .icon-container {
        background-color: #f2d0d9;
      }
      .diff-item:nth-child(4) .icon-container {
        background-color: #e6c8dd;
      }
      .diff-item:nth-child(5) .icon-container {
        background-color: #d0f1c7;
      }
      .diff-item:nth-child(6) .icon-container {
        background-color: #c2e3f8;
      }
    }
    .diff-item .icon-container {
      width: 4rem;
      position: absolute;
      height: 4rem;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
    // Background colors
    .icon-bg-blu {
      background-color: #c2e3f8;
    }
    .icon-bg-deep-blu {
      background-color: #c2e2f8;
    }
    .icon-bg-pink {
      background-color: #f2d0d9;
    }
    .icon-bg-purple {
      background-color: #e6c8dd;
    }
    .icon-bg-green {
      background-color: #d0f1c7;
    }
    .diff-item .diff-content {
      // padding-left: 3rem;
      margin-left: 5rem;
    }
    .diff-item .diff-content h3 {
      font-size: 18px;
    }
    .diff-item .diff-content p {
      word-break: auto-phrase;
      padding-right: 1rem;
      word-wrap: break-word;
    }
  }
}
