.utilities {
  // padding-top: 2rem;
  // padding-bottom: 4rem;
}

.utilities-header .utils-hdng {
  font-size: 1rem;
}

.utilities-header .utils-intro {
  font-size: 1.75rem;
  font-weight: 600;
}

.utilities-body {
  padding-top: 2rem;
}

.utility-body {
  width: 80%;
}

.utility-icon {
  width: 96px;
  height: 96px;
  background: #edf2fb;
  margin-right: 1.5rem;
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.utility .utility-name {
  // font-size: 18px;
}

.utility .utility-link {
  color: #ee435c;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
