<header @appear class="gartner-header">
  <div class="container gartner-header-content">
    <div class="flex-row-nowrap report-content">
      <h1 class="hdng">GARTNER Report - 2023 Strategic Roadmap for Zero Trust Security Program
        Implementation
      </h1>
      <a href="#" class="pl-3">Check the Reports</a>
    </div>
    <div class="actions flex-row-nowrap">
      <div class="chat-container flex-row-nowrap">
        <svg-icon-component [name]="'chat_bubble_white'" class="icon-svg"></svg-icon-component>
        <a href="#">Chat with Sales</a>
      </div>
      
      <!-- <a href="#">United States</a> -->
      <div clickOutside (clickOutside)="displayCreateMenu = false">
        <div class="flex-row-nowrap lang-container">
          <svg-icon-component [name]="'lang_globe'" class="icon-svg"></svg-icon-component>
          <a class="select-org" (click)="quickSelect()">{{selectedState}}</a>
          <svg-icon-component *ngIf="!displayCreateMenu" class="expand-svg" [name]="'expand_more'"></svg-icon-component>
          <svg-icon-component *ngIf="displayCreateMenu" class="expand-svg" [name]="'expand_less'"></svg-icon-component>
        </div>
        <app-custom-popup-component [popupActive]="displayCreateMenu" [values]="quickActions"
          (selected)="selectAction($event)">
        </app-custom-popup-component>
      </div>
    </div>
  </div>
</header>
