<header @appear class="gartner-header">
  <div class="container gartner-header-content">
    <div class="flex-row-nowrap report-content">
      <h1 class="hdng">GARTNER Report - 2023 Strategic Roadmap for Zero Trust Security Program
        Implementation
      </h1>
      <a href="#" class="pl-3">Check the Reports</a>
    </div>
    <div class="actions flex-row-nowrap">
      <a href="#">Chat with Sales</a>
      <a href="#">United States</a>
      <!-- <select class="form-select" aria-label=".form-select-sm example">
        <option selected>United States</option>
        <option value="1">India</option>
        <option value="2">Canada</option>
        <option value="3">Philippines</option>
      </select> -->
      <!-- <div class="dropdown">
        <button class="dropbtn">United States</button>
        <div class="dropdown-content">
          <a href="#">United States</a>
          <a href="#">India</a>
          <a href="#">Canada</a>
          <a href="#">Philippines</a>
        </div>
      </div> -->
    </div>
  </div>
</header>
