<footer class="tdc-footer">
  <div class="container">
    <div class="footer-head">
      <article class="logo-content">
        <img *ngIf="country === 'United States' || country === 'Canada' || country === ''"
          src="../../assets/images/TechDemocracyMainLogo.svg" class="company-logo" alt="TechDemocracy Logo">
        <img *ngIf="country === 'India'" src="../../assets/images/CotelligentFullLogo.svg" class="company-logo"
          alt="Cotelligent Logo">
        <div class="social-links-container">

        </div>
      </article>
    </div>
    <section class="tdc-footer-content row">

      <article class="pages-menu col-md-3 col-sm-12">
        <h2>Solutions</h2>
        <ul>
          <li><a href="#">Identity Governance & Administration (IGA)</a></li>
          <li><a href="#">Privileged Access Management (PAM )</a></li>
          <li><a href="#">Access Management (AM)</a></li>
          <li><a href="#">Customer Identity Access Management (CIAM)</a></li>
        </ul>
      </article>
      <article class="col-md-3 col-sm-12">
        <h2>Services</h2>
        <ul>
          <li><a href="#">Advisory Consulting</a></li>
          <li><a href="#">Implementation Services</a></li>
          <li><a href="#">Operation & Support Services</a></li>
          <li><a href="#">Managed Services</a></li>
        </ul>
        <!-- <address>2005 Stokes Isle Apt. 896, Venaville 10010, USA info@yourdomain.com (+68) 120034509</address> -->
      </article>
      <article class="col-md-3 col-sm-12">
        <h2>Our Company</h2>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Leadership Team</a></li>
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </article>
      <article class="col-md-3 col-sm-12">
        <h2>Head Office: United States</h2>
        <address>1 Corporate Place South Suite # 110, Piscataway, NJ 08854. Call Us : +1 732 404 8350</address>
        <p style="color: #FFFFFF;">Email us : <a href="#">solutions@techdemocracy.com</a></p>
        <div class="delivery-centers-list">
          <h2>Delivery Centers :</h2>
          <ul class="delivery-centers">
            <li><a href="#">Canada</a></li>
            <li><a href="#">India</a></li>
            <li><a href="#">Philippines</a></li>
          </ul>
        </div>
      </article>
    </section>
    <h3 class="footer-text-hdng">Your Trusted identity Security Partner</h3>
    <div class="footer-divider"></div>
    <div class="flex-row-nowrap foot-note">
      <p class="copyright-txt">&copy; 2023 TechDemocracy LLC and/or its affiliates. All rights reserved.</p>
      <div class="footnote-links">
        <a href="#">Privacy policy</a>
        <a href="#">Cookie policy</a>
      </div>

    </div>
  </div>
</footer>
