<div class="blog-container">
  <!-- <h1>Blog</h1><br><br>
  <h2>{{strapiBlogAttrs?.Title}}</h2>
  <article *ngFor="let contentData of strapiBlogAttrs?.Content">
    <div *ngFor="let child of contentData.children">
      <p>{{child.text}}</p>
    </div>
  </article> -->
  <header class="blog-header">
    <div class="blog-headding-main">
      <h4 class="container text-light pt-1 px-5">Resource / Customer Success Story</h4>
    </div>
    <div class="blog-header-content d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 py-5 px-5">
            <div class="text-light">
              <p><span class="badge rounded-pill bg-dark text-light">{{blogDeatils?.attributes?.industry_type?.data?.attributes?.IndustryType}}</span></p>
            </div>
            <!-- <h1 class="text-light">Enhancing Security in Healthcare Enhancing Security in HealthcareEnhancing Security
              in HealthcareEnhancing Security in HealthcareEnhancing
            </h1> -->
            <h1 class="text-light">{{blogDeatils?.attributes?.HeadingTitle}}
            </h1>
            <p><small class="text-light opacity-75">Published on {{blogDeatils?.attributes?.publishedAt | formatLocalDate}}</small> </p>
          </div>
          <div class="col-md-6 hero-image d-flex align-items-center">
            <!-- <img src="../../assets/images/heroimages/Cyber_Security_Operations_Center.png" alt="Hero Image png"> -->
            <img src="{{'http://localhost:1337' + blogDeatils?.attributes?.FeaturedImage?.data?.attributes?.url}}"
            alt="{{blogDeatils?.attributes?.FeaturedImage?.data?.attributes?.hash}}">
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- <section class="container">
    <div class="row">
      <div class="col-md-6 py-5">
        <h5 class="badge rounded-pill bg-dark">HealthCare Industry</h5>
        <h3>Identity Governance & Administration</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, sit amet</p>
        <p class="">Updated On 12th December 2023</p>
      </div>
      <div class="col-md-6 share-link flex-col-nowrap">
         <h6>Share Customer story link</h6> -->
  <!-- <div class="flex-row-nowrap"> -->
  <!-- <svg-icon-component class="media-icons" [name]="'linkedIn'"></svg-icon-component> -->
  <!-- <svg-icon-component  [name]="'instagram'"></svg-icon-component> -->
  <!-- <svg-icon-component [name]="'youtube'"></svg-icon-component> -->
  <!-- <svg-icon-component class="media-icons" [name]="'twitter'"></svg-icon-component> -->
  <!-- </div> -->
  <!-- </div>
    </div>
  </section> -->
  <!-- <hr> -->
  <section class="blog-body">
    <div class="container py-5 px-5">
      <div class="row">
        <div id="ResourceArticle" class="col-md-9 textedit"></div>
        <!-- <div class="col-md-9 textedit">
          <div class="introduction">
            <h2>Introduction</h2>
            <p>Introduction In the age of digital transformation, the healthcare industry is rapidly evolving.
              Electronic
              health records (EHRs), telemedicine, and mobile healthcare apps are just a few examples of how technology
              is
              improving patient care and data accessibility. However, these innovations also bring new cybersecurity
              challenges, making identity governance and administration (IGA) essential for safeguarding sensitive
              patient
              information.</p>
          </div>
          <div class="iga">
            <h3>The Importance of IGA in Healthcare:</h3>
            <h4 class="">Protecting patient data:</h4>
            <p>Patient data is a prime target for cybercriminals due to its high value on the black market. Implementing
              IGA helps healthcare organizations ensure that only authorized personnel can access sensitive patient
              records.
              This mitigates the risk of data breaches and maintains patient confidentiality.</p>
            <h4 class="">Regulatory Compliance:</h4>
            <p>The healthcare industry is subject to a multitude of regulations, such as HIPAA in the United States. and
              GDPR
              in Europe. Failure to comply can result in severe penalties. IGA solutions assist healthcare organizations
              in
              adhering to these regulations by enforcing access controls, auditing, and reporting.</p>
            <p>Lorem ipsum dolor sit amet,
              consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat,
              sed
              diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
              takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed
              diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
              et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
              ipsum
              dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet,
              consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat,
              sed
              diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
              takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed
              diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
              et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
              ipsum
              dolor sit amet.</p>
          </div>
          <div class="">
            <h4 class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, ullam.
              Aperiam, doloribus. Et
              blanditiis rerum quia laudantium excepturi, harum officia, mollitia facilis laboriosam quaerat tempore
              hic
              iste, cupiditate doloribus molestias.</h4>
            <button type="button" class="btn btn-outline-danger mb-5 mt-3">Download PDF</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eligendi, blanditiis non consequuntur
              officia
              cupiditate aperiam, veniam itaque ipsam eum quasi dolore quos atque porro harum, error quam et ut?
              >Lorem
              ipsum dolor sit amet,
              consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat,
              sed
              diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
              sea
              takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
              elitr,
              sed
              diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
              eos
              et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
              ipsum
              dolor sit amet</p>
          </div>
        </div> -->
        <div class="col-md-3 pt-5">
          <!-- <ng-container *ngFor="let sample of CategorieObj">
            <div class="flex-col-nowrap gutter-bottom-1">
              <div class="caseStudy"></div>
              <label class="breathing-space-bottom">{{sample.type}}</label>
              <h6><strong>{{sample.desc}}</strong></h6>
              <a href="#">{{sample.read}}</a>
            </div>
          </ng-container> -->

          <div class="sticky-md-top stickycase">
            <ng-container *ngFor="let sample of CategorieObj">
              <div class="d-flex flex-column gutter-bottom-1 ">
                <div class="zoomhover">
                  <img class="casestudyimg" src="../../assets/images/Resource/TelecomInd.png" />
                </div>
                <article class="pt-3 pb-5">
                  <label>{{sample.type}}</label>
                  <h4>{{sample.desc}}</h4>
                  <a href="#">{{sample.read}}</a>
                </article>
              </div>

            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </section>
  <consultation-component></consultation-component>
</div>
