<div class="blog-container">
  <!-- <h1>Blog</h1><br><br>
  <h2>{{strapiBlogAttrs?.Title}}</h2>
  <article *ngFor="let contentData of strapiBlogAttrs?.Content">
    <div *ngFor="let child of contentData.children">
      <p>{{child.text}}</p>
    </div>
  </article> -->
  <header class="blog-header">
    <div class="blog-headding-main">
      <h4 class="container text-light pt-1 px-5">Resource /
        {{blogDeatils?.attributes?.category?.data?.attributes?.CategoryTitle}}</h4>
    </div>
    <div class="blog-header-content d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 py-5 px-5">
            <div class="text-light">
              <p><span
                  class="badge rounded-pill bg-dark text-light">{{blogDeatils?.attributes?.industry_type?.data?.attributes?.IndustryType}}</span>
              </p>
            </div>
            <!-- <h1 class="text-light">Enhancing Security in Healthcare Enhancing Security in HealthcareEnhancing Security
              in HealthcareEnhancing Security in HealthcareEnhancing
            </h1> -->
            <h1 class="text-light">{{blogDeatils?.attributes?.HeadingTitle}}
            </h1>
            <p class="text-light subtitle">{{blogDeatils?.attributes?.SubTitle}}</p>
            <p><small class="text-light publishdate">Published on {{blogDeatils?.attributes?.publishedAt |
                formatLocalDate}}</small> </p>
          </div>
          <div class="col-md-6 hero-image d-flex align-items-center">
            <!-- <img src="../../assets/images/heroimages/Cyber_Security_Operations_Center.png" alt="Hero Image png"> -->
            <img src="{{'http://localhost:1337' + blogDeatils?.attributes?.FeaturedImage?.data?.attributes?.url}}"
              alt="{{blogDeatils?.attributes?.FeaturedImage?.data?.attributes?.hash}}">
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- <section class="container">
    <div class="row">
      <div class="col-md-6 py-5">
        <h5 class="badge rounded-pill bg-dark">HealthCare Industry</h5>
        <h3>Identity Governance & Administration</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, sit amet</p>
        <p class="">Updated On 12th December 2023</p>
      </div>
      <div class="col-md-6 share-link flex-col-nowrap">
         <h6>Share Customer story link</h6> -->
  <!-- <div class="flex-row-nowrap"> -->
  <!-- <svg-icon-component class="media-icons" [name]="'linkedIn'"></svg-icon-component> -->
  <!-- <svg-icon-component  [name]="'instagram'"></svg-icon-component> -->
  <!-- <svg-icon-component [name]="'youtube'"></svg-icon-component> -->
  <!-- <svg-icon-component class="media-icons" [name]="'twitter'"></svg-icon-component> -->
  <!-- </div> -->
  <!-- </div>
    </div>
  </section> -->
  <!-- <hr> -->
  <section class="blog-body">
    <div class="container py-1 px-5">
      <div class="row">
        <div class="col-md-9 textedit">
          <div id="ResourceArticle"></div>
          <div class="flex-row-nowrap">
            <div class="col-md-6" *ngFor="let image of blogDeatils?.attributes?.SupportingImages?.data">
              <img class="img-thumbnail" src="{{'http://localhost:1337' + image?.attributes?.url}}"
                alt="{{'http://localhost:1337' + image?.attributes?.hash}}">
            </div>
          </div>
        </div>
        <div class="col-md-3 pt-5">
          <div class="sticky-md-top stickycase">
            <ng-container *ngIf="recommendedArticle">
              <div (click)="openArticle(0)" class="d-flex flex-column gutter-bottom-1 ">
                <div class="zoomhover">
                  <!-- <img class="casestudyimg" src="../../assets/images/Resource/TelecomInd.png" /> -->
                  <img class="casestudyimg"
                    src="{{'http://localhost:1337' + recommendedArticle?.data?.attributes?.FeaturedImage?.data?.attributes?.url}}"
                    alt="{{recommendedArticle2?.data?.attributes?.FeaturedImage?.data?.attributes?.hash}}">
                </div>
                <article class="pt-3 pb-5">
                  <label>{{recommendedArticle?.data?.attributes?.category?.data?.attributes?.CategoryTitle}}</label>
                  <h4>{{recommendedArticle?.data?.attributes?.HeadingTitle}}</h4>
                </article>
              </div>

            </ng-container>
            <ng-container *ngIf="recommendedArticle2">
              <div (click)="openArticle(1)" class="d-flex flex-column gutter-bottom-1 ">
                <div class="zoomhover">
                  <img class="casestudyimg"
                    src="{{'http://localhost:1337' + recommendedArticle2?.data?.attributes?.FeaturedImage?.data?.attributes?.url}}"
                    alt="{{recommendedArticle2?.data?.attributes?.FeaturedImage?.data?.attributes?.hash}}">
                  <!-- <img class="casestudyimg" src="../../assets/images/Resource/TelecomInd.png" /> -->
                </div>
                <article class="pt-3 pb-5">
                  <label>{{recommendedArticle2?.data?.attributes?.category?.data?.attributes?.CategoryTitle}}</label>
                  <h4>{{recommendedArticle2?.data?.attributes?.HeadingTitle}}</h4>
                </article>
              </div>

            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <consultation-component></consultation-component>
</div>