<!-- <div class="dummy"></div> -->

<ngb-carousel @slideUp class="tdc-carousel-container" *ngIf="images" [showNavigationArrows]="showNavigationArrows"
[showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let ind = index; let obj of slideShowData">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xs-12 captions-container">
        <!-- <span>{{obj.caption}}</span> -->
        <h1>{{obj.heading}}</h1>
        <p>{{obj.content}}</p>
        <div class="actions-container my-5">
          <button type="button" class="btn btn-danger carousel-talk-btn">Talk to an Expert</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12">
        <img class="tdc-carousel-img" src="{{obj.imgUrl}}" alt="Slide show image - {{ind+1}}">
      </div>
    </div>
  </ng-template>
</ngb-carousel>
