.tdc-consult-container {
  // padding-top: 1rem;
  .iga-hdng {
    // margin-bottom: 2rem;
  }

  .iga-content{
    padding-right: 10%;
  }
  .iga-content-para:nth-child(2) {
    margin-bottom: 2rem;
  }
  .svg-icon {
    min-height: 4rem;
  }

  .iga-img-container img{
    width: 100%;
    border-radius: 16px;
  }

}