.tdc-consult-container {
  padding-top: 1rem;
  margin-bottom: 1rem;
  .iga-hdng {
    margin-bottom: 2rem;
  }
  .iga-content-para:nth-child(2) {
    margin-bottom: 2rem;
  }
  .svg-icon {
    min-height: 4rem;
  }
}