<section class="tdc-consult-container">
  <div class="container  d-flex justify-content-between">
    <section class="iga-implementation-container">
      <div class="row d-flex align-items-center ">

        <div class="iga-content col-md-6 col-xs-12">
          <h2 class="iga-hdng">{{tdcConsultantObj.heading}}</h2>
          <p class="iga-content-para">{{tdcConsultantObj.content}}</p>
        </div>
        <div class="iga-img-container col-md-6 col-xs-12">
          <img src="../../assets/images/SolutionThumbnailLower.png" alt="">
        </div>
      </div>
    </section>
  </div>
</section>
