.tdc-consult-container {
  // padding-top: 1rem;
  // background: linear-gradient(0deg, rgba(237, 248, 255, 0.548) 0%, rgba(237, 248, 255, 0.33) 100%), #FFF;
  .iga-hdng {
    // margin-bottom: 2rem;
  }

  .iga-content{
    padding-right: 10%;
  }
  .iga-content-para:nth-child(2) {
    margin-bottom: 2rem;
  }
  .svg-icon {
    min-height: 4rem;
  }

  .iga-img-container img{
    width: 90%;
    border-radius: 16px;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

}