<section class="tdc-consult-container">
  <div class="container">
    <section class="iga-implementation-container">
      <div class="row">

        <div class="iga-content col-md-6 col-xs-12">
          <h3 class="iga-hdng">{{tdcConsultantObj.heading}}</h3>
          <p class="iga-content-para">{{tdcConsultantObj.content}}</p>
        </div>
        <div class="iga-img-container col-md-6 col-xs-12">
          <img style="width: 100%;" src="../../assets/images/tdc-adv-consult-img.JPG" alt="">
        </div>
      </div>
    </section>
  </div>
</section>
