<section class="leadership-team">
  <div class="container">
    <div class="row">
      <div class="col-md-8 flex-row-wrap">
        <div class="card prof-card mx-4 zoomhover" data-aos="fade-up" 
        data-aos-duration="1000">
          <img src="../../../../assets/images/Leadership_Images/Leadership__Sri Patibandla.png" alt="CEO Image">
          <dl class="py-3">
            <dt>
              <h3>Sri Patibandla</h3>
            </dt>
            <dd>
              <h6>Founder & Chief Executive Officer</h6>
            </dd>
          </dl>
        </div>
        <div class="card prof-card mx-4 zoomhover" data-aos="fade-up" 
        data-aos-duration="1000">
          <img src="../../../../assets/images/Leadership_Images/Leadership__Sushil Madhukar.png" alt="Principal Chief Image">
          <dl class="py-3">
            <dt>
              <h3>Sushil Madhukar</h3>
            </dt>
            <dd>
              <h6>Chief Principal – Global Business</h6>
            </dd>
          </dl>
        </div>
        <div class="card prof-card mx-4 zoomhover" data-aos="fade-up" 
        data-aos-duration="1000">
          <img src="../../../../assets/images/Leadership_Images/Leadership__Krishnan Balan.png" alt="CEO Image">
          <dl class="py-3">
            <dt>
              <h3>Krishnan Balan</h3>
            </dt>
            <dd>
              <h6>Chief Financial Officer</h6>
            </dd>
          </dl>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-left flex-column justify-content-center" data-aos="fade-up" 
      data-aos-duration="1000">
        <h2>Our Visionaries</h2>
        <p>At TechDemocracy, we're led by visionaries who are committed to driving innovation and growth.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-left flex-column justify-content-center" data-aos="fade-up" 
      data-aos-duration="1000">
        <h2>Center of Excellence</h2>
        <p class="team-content">Experts who are enthusiastic about producing outstanding results make up our Center of Excellence Team.</p>
      </div>
      <div class="col-md-6 flex-row-nowrap">
        <div class="card prof-card mx-4 zoomhover" data-aos="fade-up" 
        data-aos-duration="1000">
          <img src="../../../../assets/images/Leadership_Images/Leadership__Raghavendra Hulikunta.png" alt="CEO Image">
          <dl class="py-3">
            <dt>
              <h3>Raghavendra Hulikunta</h3>
            </dt>
            <dd>
              <h6>Director, Center of Excellence</h6>
            </dd>
          </dl>
        </div>
        <div class="card prof-card mx-4 zoomhover" data-aos="fade-up" 
        data-aos-duration="1000">
          <img src="../../../../assets/images/Leadership_Images/Leadership__Gourish Nag Choudary.png" alt="Principal Chief Image">
          <dl class="py-3">
            <dt>
              <h3>Gourish Nag Choudhury</h3>
            </dt>
            <dd>
              <h6>Director-Customer Excellence-Global CRSG Services Delivery Head</h6>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 flex-row-nowrap">
        <div class="card prof-card mx-4 zoomhover" data-aos="fade-up" 
        data-aos-duration="1000">
          <img src="../../../../assets/images/Leadership_Images/Leadership__Charitha Sahu.png" alt="CEO Image">
          <dl class="py-3">
            <dt>
              <h3>Charitha Sahu</h3>
            </dt>
            <dd>
              <h6>Sr. Manager HR</h6>
            </dd>
          </dl>
        </div>
        <div class="card prof-card mx-4 zoomhover" data-aos="fade-up" 
        data-aos-duration="1000">
          <img src="../../../../assets/images/Leadership_Images/Leadership__Vijayashree Rao.png" alt="Principal Chief Image">
          <dl class="py-3">
            <dt>
              <h3>Vijayashree Rao</h3>
            </dt>
            <dd>
              <h6>Associate Director, HR</h6>
            </dd>
          </dl>
        </div>
        <div class="card prof-card mx-4 zoomhover" data-aos="fade-up" 
        data-aos-duration="1000">
          <img src="../../../../assets/images/Leadership_Images/Leadership__Sai Gangula.png" alt="Director, Talent Acquisition">
          <dl class="py-3">
            <dt>
              <h3>Sai Kumar Gangula</h3>
            </dt>
            <dd>
              <h6>Director, Talent Acquisition</h6>
            </dd>
          </dl>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-left flex-column justify-content-center" data-aos="fade-up" 
      data-aos-duration="1000">
        <h2>Human resource and Talent management leadership</h2>
        <p class="team-content">The HR team is our organization's backbone, ensuring we have qualified individuals in suitable roles to fuel our success.</p>
      </div>
    </div>
  </div>
</section>