.leadership-team {
  padding-top: 12rem;
  .prof-card {
    width: 200px;
    height: auto;
    border: none;
    background-color: transparent;
    h6 {
      font-weight: 400;
    }
  }

  .lt-strip {
    background-color: #ecf3ff;
    // padding: 3rem 0;
    margin-bottom: 2rem;
  }

  // Image Zoom Hover
  .zoomhover {
    overflow: hidden;
    border-radius: 16px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 16px;
      transition: 0.3s all ease-in-out;

      &:hover {
        position: relative;
        cursor: pointer;
        width: 100%;
        transform: scale(1.1);
      }
    }
  }

  .team-content {
    width: 70%;
  }
}