<section class="about-us" data-aos="fade-up" 
data-aos-duration="1000">
  <div class="container">
    <header class="about-us-header row ">
      <div class="col-md-12">
        <h2>About Us</h2>
        <p class="subtitle">TechDemocracy is a boutique cybersecurity firm with over two decades of experience, focusing
          on fully managing identity security solutions that integrate and operate the entire identity lifecycle under
          one umbrella. We believe in bringing together market-leading technology, proven process, and certified
          identity specialists you need to implement and operate digital identity across your entire organization within
          your timelines and budget</p>
      </div>
    </header>
    <section class="about-us-body row d-flex align-items-center">

      <div class="yt-vid-container col-md-6">
        <iframe width="100%" height="358px" style="border-radius: 15px;" src="https://www.youtube.com/embed/mgMhoY4r0dU?si=1Y2InHUfmNsfezX6&amp;controls=0&modestbranding=1&showinfo=0&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="about-us-misc col-md-6" data-aos="fade-up" 
      data-aos-duration="1000">
        <article class="highlights flex-row-wrap row">
          <div class="highlight flex-row-nowrap col-xs-12 col-md-6 col-lg-6 my-4">
            <div class="highlight-left my-5"></div>
            <div class="mx-4">
              <h2>5 Million +</h2>
              <p>User Identity Managed since inception</p>
            </div>
          </div>
          <div class="highlight flex-row-nowrap col-xs-12 col-md-6 col-lg-6 my-4">
            <div class="highlight-left my-5"></div>
            <div class="mx-4">
              <h2>30+</h2>
              <p>Active Engagements in Identity Security</p>
            </div>
          </div>
          <div class="highlight flex-row-nowrap col-xs-12 col-md-6 col-lg-6 my-4">
            <div class="highlight-left my-5"></div>
            <div class="mx-4">
              <h2>200+</h2>
              <p>Successful IDM, Cyber Security Implementations</p>
            </div>
          </div>
          <div class="highlight flex-row-nowrap col-xs-12 col-md-6 col-lg-6 my-4">
            <div class="highlight-left my-5"></div>
            <div class="mx-4">
              <h2>23+</h2>
              <p>Years of experience in Cyber Security</p>
            </div>
          </div>
        </article>
        <!-- <div class="free-consult-headings">
          <h2>About us TechDemocracy</h2>
          <p>Full range of consultant services and software solutions</p>
          <div class="free-consult-btn">
            <button type="button" class="btn btn-danger">Free Consultation</button>
          </div>
        </div> -->
      </div>


    </section>
    <div class="flex-col-nowrap">
      <p class="subtitle mt-5">About us TechDemocracy</p>
      <h3>Full range of consultant services and software solutions</h3>
      <div><button class="btn btn-outline-dark ">Find us whom we are </button></div>
    </div>
  </div>
</section>