<section class="about-us" 
data-aos="slide-up" 
data-aos-duration="3000" 
data-aos-offset="50"
data-aos-delay="30"
data-aos-easing="ease-in-out">
  <div class="container">
    <header class="about-us-header row">
      <div class="headings col-md-9">
        <h2>About us</h2>
        <p>TechDemocracy is a boutique cybersecurity firm with over two decades of experience, focusing on fully managing identity security solutions that integrate and operate the entire identity lifecycle under one umbrella. We believe in bringing together market-leading technology, proven process, and certified identity specialists you need to implement and operate digital identity across your entire organization within your timelines and budget</p>
      </div>
      <div class="about-us-actions col-md-3">
        <button class="btn btn-outline-dark">Find us whom we are </button>
      </div>
    </header>
    <section class="about-us-body row">
      <div class="yt-vid-container col-md-6">
        <iframe [src]='safeURL' width="560" height="315" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="about-us-misc col-md-6">
        <article class="highlights flex-row-wrap row">
          <div class="highlight flex-row-nowrap col-xs-12 col-md-6 col-lg-6">
            <div class="highlight-left"></div>
            <div class="highlight-content">
              <h3>5 Millions +</h3>
              <p>User Identity Managed since inception</p>
            </div>
          </div>
          <div class="highlight flex-row-nowrap col-xs-12 col-md-6 col-lg-6">
            <div class="highlight-left"></div>
            <div class="highlight-content">
              <h3>30+</h3>
              <p>Active current engagements In Identity Security</p>
            </div>
          </div>
          <div class="highlight flex-row-nowrap col-xs-12 col-md-6 col-lg-6">
            <div class="highlight-left"></div>
            <div class="highlight-content">
              <h3>100+</h3>
              <p>Successful IDM, Cyber Sec Implementations</p>
            </div>
          </div>
          <div class="highlight flex-row-nowrap col-xs-12 col-md-6 col-lg-6">
            <div class="highlight-left"></div>
            <div class="highlight-content">
              <h3>300+</h3>
              <p>YTD/FY 2023 – Q1 dedicated headcount</p>
            </div>
          </div>
        </article>
        <div class="free-consult-headings">
          <h2>About us TechDemocracy</h2>
          <p>Full range of consultant services and software solutions</p>
          <div class="free-consult-btn">
            <button type="button" class="btn btn-danger">Free Consultation</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
