.about-us {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ecf3ff;
  .about-us-header {
    align-items: center;
    padding-bottom: 2rem;
  }
  .headings h2 {
    font-size: 1.5rem;
    // font-weight: 400;
  }
  .headings p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .about-us-actions {
    display: flex;
    justify-content: center;
  }

  .highlight {
    position: relative;
    align-items: center;
    width: 230px;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  .highlight .highlight-left {
    // position: absolute;
    left: 0;
    width: 0.75rem;
    height: 90%;
    background: #173cb4;
    border-radius: 10px;
  }

  .highlight-content {
    padding-left: 1rem;
  }

  .highlight-content p {
    width: 100%;
    font-weight: 500;
  }

  .free-consult-headings {
    margin-top: 1rem;
    h2 {
      font-size: 1rem;
      font-weight: 400;
    }
    p {
      font-weight: 600;
      font-size: 1.2rem;
      width: 50%;
    }
  }

  .yt-iframe {
    border-radius: 15px;
  }

  @media screen and (max-width: 750px) {
    iframe {
      max-width: 100% !important;
      width: auto !important;
      height: auto !important;
    }
  }

  @media screen and (max-width: 992px) {
    iframe {
      width: 100% !important;
    }
  }
}
