<section @slideUp class="about-us">
  <div class="container">
    <header class="about-us-header row">
      <div class="headings col-md-9">
        <h2>About us TechDemocracy</h2>
        <p>Full range of consultant services and software solutions to help you quickly deploy critical Cybersecurity technologies.</p>
      </div>
      <div class="about-us-actions col-md-3">
        <button class="btn btn-outline-secondary">Find us whom we are </button>
      </div>
    </header>
    <section class="about-us-body row">
      <div class="yt-vid-container col-md-6">
        <iframe [src]='safeURL' width="560" height="315" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="about-us-misc col-md-6">
        <article class="highlights flex-row-wrap">
          <div class="highlight flex-row-nowrap">
            <div class="highlight-left"></div>
            <div class="highlight-content">
              <h3>5 Millions +</h3>
              <p>User Identity Managed since inception</p>
            </div>
          </div>
          <div class="highlight flex-row-nowrap">
            <div class="highlight-left"></div>
            <div class="highlight-content">
              <h3>30+</h3>
              <p>Active current engagements In Identity Security</p>
            </div>
          </div>
          <div class="highlight flex-row-nowrap">
            <div class="highlight-left"></div>
            <div class="highlight-content">
              <h3>100+</h3>
              <p>Successful IDM, Cyber Sec Implementations</p>
            </div>
          </div>
          <div class="highlight flex-row-nowrap">
            <div class="highlight-left"></div>
            <div class="highlight-content">
              <h3>300+</h3>
              <p>YTD/FY 2023 – Q1 dedicated headcount</p>
            </div>
          </div>
        </article>
        <div class="free-consult-headings">
          <h2>About us TechDemocracy</h2>
          <p>Full range of consultant services and software solutions to help you quickly deploy critical Cybersecurity technologies.</p>
          <div class="free-consult-btn">
            <button type="button" class="btn btn-danger btn-lg">Free Consultation</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
