<div class="privacy-policy-container">
    <header class="policy-header">
        <div class="policy-header">
            <div class="container widthsize py-5">
                <h2>Cookie Policy</h2>
                <hr>
                <div class="row">
                    <section class="col-md-8 py-3">
                        <p>Welcome to TechDemocracy! This Cookie Policy elucidates how we utilize cookies and comparable
                            tracking technologies when you access and use our website.</p>

                        <h4>Understanding Cookies</h4>
                        <p>Cookies are small text files placed on your device when you visit a website. They serve
                            multiple
                            purposes, including enhancing your browsing experience and enabling us to understand how you
                            interact with our site.</p>

                        <h3> Types of Cookies We Use</h3>
                        <hr>
                        <h4>Essential Cookies:</h4>
                        <p>These cookies are fundamental for the website to function effectively. They enable basic
                            functionalities and ensure the security of our platform. Without these cookies, certain
                            features
                            may not be accessible.</p>

                        <h4>Analytical/Performance Cookies:</h4>
                        <p>We utilize these cookies to gather information about visitors' browsing habits on our
                            website.
                            This data helps us improve user experience, identify areas for enhancement, and understand
                            user
                            preferences. It's anonymized and used for statistical analysis only.</p>

                        <h4>Functional Cookies:</h4>
                        <p>Functional cookies allow the website to remember your preferences, such as language settings
                            and
                            login details. They help personalize your experience and enable enhanced features tailored
                            to
                            your needs.</p>

                        <h4>How We Use Cookies</h4>
                        <p>Improving User Experience: Cookies help us personalize your browsing experience and provide
                            you
                            with relevant content and services.</p>

                        <h4>Tracking Performance:</h4>
                        <p>They assist us in analyzing website traffic, identifying popular pages,
                            and gauging user engagement to enhance our content and services.
                            Enhancing Security: Cookies contribute to maintaining a secure online environment by
                            identifying
                            and preventing potential security risks.</p>

                        <h4>Managing Cookies</h4>
                        <p>By using TechDemocracy website, you agree to the use of cookies in accordance with this
                            policy.
                            However, you can manage or delete cookies via your browser settings. Please note that
                            restricting cookies may impact the functionality of certain website features.</p>

                        <h4>Our Commitment to Your Privacy</h4>
                        <p>We prioritize your privacy and data security. We do not utilize cookies to collect
                            personally
                            identifiable information without your explicit consent. For further information on how we
                            handle
                            your data, please refer to TechDemocracy Privacy Policy.</p>

                        <h4>Contact Us</h4>
                        <p>Should you have any inquiries or concerns regarding our Cookie Policy or your privacy on our
                            website, please reach out to us at solutions@techdemocracy.com. We're here to assist you.
                        </p>

                        <h4>Policy Updates</h4>
                        <p>This Cookie Policy may undergo updates to align with technological advancements or changes in
                            legislation. Kindly review this page periodically for any revisions.</p>

                        <h4>Conclusion</h4>
                        <p>continuing to use TechDemocracy website, you affirm your agreement with the use of cookies
                            in
                            accordance with this policy. Thank you for choosing TechDemocracy for your cybersecurity
                            needs.</p>

                    </section>
                    <section class="col-md-4">
                        <img class ="policyimg"src="../../assets/images/Policies.png">
                    </section>
                </div>
            </div>
        </div>
    </header>
</div>