<section class="contact-info-container">
  <header class="info-header" @slideUp>
    <div class="container">
      <div class="row position-relative">
        <div class="col-md-6 col-sm-12 py-5">
          <h1 class="contact-hdng">Get in Touch with us</h1>
          <p>Customer satisfaction is our priority. Reach out—we're listening.</p>
        </div>
        <div class="col-md-6 col-sm-12 contact-details">
          <section class=" d-flex justify-content-center align-items-center">
            <div class="card px-5">
              <div class="pt-5 pb-2">
                <h1>Get Connected to grow better business</h1>
              </div>
              <div class="align-items-center pt-3 py-3">
                <h6 class="mb-2 ps-0">Full name</h6>
                <input [formControl]="contactInfoForm.controls['fullName']" type="text"
                  class="form-control form-control-lg" placeholder="Enter Full Name" />
              </div>
              <div class="align-items-center py-3">
                <h6 class="mb-2 ps-0">Email address</h6>
                <input [formControl]="contactInfoForm.controls['email']" type="email"
                  class="form-control form-control-lg" placeholder="Enter Email" />
              </div>
              <div class="align-items-center py-3">
                <h6 class="mb-2 ps-0">Contact Number(Optional)</h6>
                <input [formControl]="contactInfoForm.controls['number']" type="number"
                  class="form-control form-control-lg" placeholder="Enter Contact Number" />
              </div>
              <div class="align-items-center py-3">
                <h6 class="mb-2 ps-0">How can we help?</h6>
                <textarea [formControl]="contactInfoForm.controls['helpText']" class="form-control" rows="3"
                  placeholder="Message sent to the employer"></textarea>
              </div>
              <div class="py-3">
                <button type="button" class="btn btn-outline-danger btn-lg full-width" 
                (click)="callSendMail()"
                  routerLinkActive="active">Submit</button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </header>
  <div class="container contact-info" @slideUp>
    <div class="row">
      <div class="col-md-4 col-sm-8 mt-5">
        <div class="pb-3">
          <h3>Contact Us</h3>
          <p>Need assistance? Have queries? We're ready to assist you.</p>
        </div>
        <div class="pb-3">
          <h3>Email</h3>
          <a class="text-dark font-weight-bold" *ngIf="country === 'United States' || country === 'Canada' || country === '' || !country"
            href="mailto:solutions@techdemocracy.com">solutions@techdemocracy.com</a>
          <a class="text-dark font-weight-bold" *ngIf="country === 'India'" href="mailto:sales@cotelligent.com">sales@cotelligent.com</a>
        </div>
        <div class="pb-3">
          <h3>Phone</h3>
          <a class="text-dark font-weight-bold" *ngIf="country === 'United States' || country === '' || !country" href="tel:+17324048350">+1 732 404
            8350</a>
          <a class="text-dark font-weight-bold" *ngIf="country === 'India'" href="tel:+91 - 40 - 67231701">+91 - 40 - 67231701</a>
          <a class="text-dark font-weight-bold" *ngIf="country === 'Canada'" href="tel:+1 647 792 0050">+1 647 792 0050</a>

        </div>
        <div class="pb-3">
          <h3>Address</h3>
          <p>{{country === 'India' ? 
            "Survey No 83/1 upper ground floor, The Skyview 20, Divija Commercial Properties Pvt Ltd, Raidurgam Hyderabad - 500081" : country === 'Canada' ? 
            "#846, 8th Floor Mississauga - Toronto Airport Corporate Center 2425 Matheson Blvd East Mississauga, ON L4W 5K4" :
            country === 'United States' ? 
            "Headquarters 1 Corporate Place South, Suite # 110, Piscataway, NJ 08854":"Headquarters 1 Corporate Place South, Suite # 110, Piscataway, NJ 08854"}}</p>
        </div>
      </div>
    </div>
  </div>
</section>