<section class="contact-info-container">
  <header class="info-header">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Get in Touch with us</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, repellendus ipsa nostrum</p>
        </div>
        <div class="col-md-8 col-sm-12 contact-details">
          <section class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-xl-9">
                <div class="card w-75">
                  <div class="card-body">
                    <div class="row align-items-center pt-4 pb-3">
                      <div class="col-md-10 ps-5">
                        <h6 class="mb-1">Full name</h6>
                        <input type="text" class="form-control form-control-lg" placeholder="Enter Full Name" />
                      </div>
                    </div>
                    <div class="row align-items-center py-3">
                      <div class="col-md-10 ps-5">
                        <h6 class="mb-1">Email address</h6>
                        <input type="email" class="form-control form-control-lg" placeholder="Enter Email" />
                      </div>
                    </div>
                    <div class="row align-items-center py-3">
                      <div class="col-md-10 ps-5">
                        <h6 class="mb-1">Contact Number(Optional)</h6>
                        <input type="number" class="form-control form-control-lg" placeholder="Enter Contact Number" />
                      </div>
                    </div>
                    <div class="row align-items-center py-3">
                      <div class="col-md-10 ps-5">
                        <h6 class="mb-1">How can we help?</h6>
                        <textarea class="form-control" rows="3" placeholder="Message sent to the employer"></textarea>
                      </div>
                    </div>
                    <div class="px-5 py-4">
                      <button type="button" class="btn btn-outline-danger" routerLink="/contact-us"
                        routerLinkActive="active">Register</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </header>
  <div class="container contact-info">
    <div class="row">
      <div class="col-md-4 col-sm-8 gutter-top-3">
        <div class="breathing-space-bottom">
          <h4>Contact us</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, repellendus ipsa nostrum</p>
        </div>
        <div class="breathing-space-bottom">
          <h5>Email</h5>
          <p>Solutions@Techdemocracy.com</p>
        </div>
        <div class="breathing-space-bottom">
          <h5>Phone</h5>
          <p>+1 732 404 8350</p>
        </div>
        <div class="breathing-space-bottom">
          <h5>Address</h5>
          <p>Headquarters 1 Corporate Place South, Suite # 110, Piscataway, NJ 08854</p>
        </div>
      </div>
    </div>
  </div>
</section>
