.contact-info-container {
  .info-header {
    position: relative;
    // background: linear-gradient(#111741 0%, #0e2a3b 100%);
    background: linear-gradient(105deg, #173cb4 0%, #009dff 49.9%, #173cb4 100%);
    min-height: 18rem;
    display: flex;
    align-items: center;
    .contact-details {
      z-index: 4;
    }
    .contact-hdng,
    p {
      color: #fff;
    }
    .contact-details {

      @media screen and (max-width: 992px) {
        position: initial;
        top: 12rem;
      }
    
      position: absolute;
      right: 0;

      .card {
        border: none;
        border-radius: 15px;
      }
      ::placeholder {
       font-size: 0.8rem;
       opacity: 0.3;
      }
    }
  }
  .contact-info {
    position: relative;
    @media screen and (max-width: 992px) {
      // position: absolute;
    }
  }


}
