.contact-info-container {
  .info-header {
    position: relative;
    background: linear-gradient(#111741 0%, #0e2a3b 100%);
    min-height: 18rem;
    display: flex;
    align-items: center;
    .contact-details {
      z-index: 4;
    }
    .contact-hdng,
    p {
      color: #fff;
    }
    .contact-details {
      position: absolute;
      right: 0;

      .card {
        border: none;
        border-radius: 15px;
      }
      ::placeholder {
       font-size: 0.8rem;
       opacity: 0.3;
      }
    }
  }
  .contact-info {
    position: relative;
  }


}
