@import url("https://use.typekit.net/rkg4nnb.css");
@import "../../assets/styles/custom-ham-menu";

.tdc-navbar {
  height: 5rem !important;
  // width: fit-content;
  width: 100%;
  background-color: #ffffff !important;
  // box-shadow: 0 3px 8px rgba(0,0,0,0.18), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 8px rgb(255 255 255 / 18%), 0 3px 6px rgb(0 0 0 / 8%);
}

.tdc-navbar .company-logo {
  max-height: 80px;
  height: 50px;
}

// Header Nav bar
.header-menu-actions {
  justify-content: end;
}

.header-menu-actions .free-consult-btn {
  margin-left: 2rem;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .navbar-collapse {
    width: 100%;
    padding: 1rem;
    justify-content: flex-start;
    background-color: #fff;
    border-color: transparent;
  }
}

@media screen and (max-width: 1200px) {
  h3 {
    font-size: 1.25rem;
  }
}

.nav-info {
  position: absolute;
  min-height: 13rem;
  max-width: 70%;
  top: 5.25rem;
  left: 16%;
  // box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  //   0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 8px rgb(255 255 255 / 18%), 0 3px 6px rgb(0 0 0 / 8%);
  border-radius: 8px;
  background-color: #fff;
  z-index: 1;
  padding: 2.5rem 3rem;



  .nav-content {
    // max-width: 40%;
    margin-right: 0.75rem;
    padding-right: 2rem;
    // position: relative;
    .nav-title {
      font-size: 1.25rem !important;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .nav-desc {
      // max-width: 90%;
      line-height: 1rem;
      // min-height: 2rem;
      // max-height: 2rem;
      // overflow: hidden;
      white-space: break-spaces;
      // text-overflow: ellipsis;
    }
    .more-links {
      bottom: 2rem;
      position: absolute;
    }
    .active-resource {
      color: #dc3545;
    }
  }

  h5 {
    // font-size: 18px;
    line-height: 1.25;
  }
  p {
    font-size: 0.85rem !important;
    line-height: 1.2rem !important;
    color: #434445 !important;
  }
  a {
    color: #212529;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.85;
  }
  .caseStudy {
    min-width: 16rem;
    min-height: 10rem;
    background-color: #ddd;
    margin-right: 1rem;
    border-radius: 4%;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.nav-link {
  font-family: neue-haas-grotesk-text, sans-serif !important;
  // font-family: "nhgt-pro-normal";
  &:hover {
    cursor: pointer;
    color: #dc3545;
    svg {
      fill: #f25b23 !important;
    }
  }
  .nav-active {
    color: #dc3545;
    svg {
      fill: #f25b23 !important;
    }
  }
}

.nav-link > span {
  // font-family: "nhgt-pro-normal";
}

// @media (max-width:600px)  { /* smartphones, iPhone, portrait 480x320 phones */
//   .header-menu-actions {
//     display: none;
//   }
//   .navbar-toggler {
//     display: block;
//   }
// }
// @media (min-width:600px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
//   .header-menu-actions {
//     display: none;
//   }
//   .navbar-toggler {
//     display: block;
//   }
// }
// @media (min-width:768px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
//   .header-menu-actions {
//     display: none;
//   }
//   .navbar-toggler {
//     display: block;
//   }
// }
// @media (max-width:992px)  {
//   .header-menu-actions {
//     display: none;
//   }
//   .navbar-toggler {
//     display: block;
//   }
// }

// // Mobiles
// @media (max-width:480px) {
//   .header-menu-actions {
//     display: none;
//   }
// }

// // Tablets
// @media (max-width:960px) {
//   .header-menu-actions {
//     display: none;
//   }
// }

// // Laptops/Desktops
// @media (max-width:1025px) {
//   .header-menu-actions {
//     display: none;
//   }
// }

// // Hi-resolution laptops
// @media (max-width:1280px) {

// }
