@import url("https://use.typekit.net/rkg4nnb.css");

.tdc-navbar {
  height: 6rem !important;
  background-color: #ffffff !important;
}

.tdc-navbar .company-logo {
  max-height: 80px;
  height: 50px;
}

// Header Nav bar
.header-menu-actions {
  justify-content: end;
}

.header-menu-actions .free-consult-btn {
  margin-left: 2rem;
  position: relative;
  display: flex;
  align-items: center;
}
.nav-info {
  position: absolute;
  min-height: 15rem;
  max-width: 76%;
  top: 6.25rem;
  left: 13rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  z-index: 1;
  padding: 2rem;

  .nav-content {
    // max-width: 40%;
    margin-right: 0.75rem;
    position: relative;
    .nav-tittle {
      // min-height: 20%;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .nav-desc {
      max-width: 90%;
      line-height: 1rem;
      min-height: 2rem;
      max-height: 2rem;
      overflow: hidden;
      white-space: break-spaces;
      text-overflow: ellipsis;
    }
    .more-links {
      bottom: 0;
      position: absolute;
    }
    .active-resource {
      color: #dc3545;
    }
  }

  h5 {
    font-size: 18px;
    line-height: 1.25;
  }
  p {
    font-size: 13px;
  }
  a {
    color: #212529;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.85;
  }
  .caseStudy {
    min-width: 16rem;
    min-height: 10rem;
    background-color: #ddd;
    margin-right: 1rem;
    border-radius: 4%;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.nav-link {
  font-family: "nhgt-pro-normal";
  &:hover {
    cursor: pointer;
    color: #dc3545;
    svg {
      fill: #f25b23 !important;
    }
  }
  .nav-active {
    color: #dc3545;
    svg {
      fill: #f25b23 !important;
    }
  }
}

.nav-link > span {
  font-family: "nhgt-pro-normal";
}

// @media (max-width:600px)  { /* smartphones, iPhone, portrait 480x320 phones */
//   .header-menu-actions {
//     display: none;
//   }
//   .navbar-toggler {
//     display: block;
//   }
// }
// @media (min-width:600px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
//   .header-menu-actions {
//     display: none;
//   }
//   .navbar-toggler {
//     display: block;
//   }
// }
// @media (min-width:768px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
//   .header-menu-actions {
//     display: none;
//   }
//   .navbar-toggler {
//     display: block;
//   }
// }
// @media (max-width:992px)  {
//   .header-menu-actions {
//     display: none;
//   }
//   .navbar-toggler {
//     display: block;
//   }
// }

// // Mobiles
// @media (max-width:480px) {
//   .header-menu-actions {
//     display: none;
//   }
// }

// // Tablets
// @media (max-width:960px) {
//   .header-menu-actions {
//     display: none;
//   }
// }

// // Laptops/Desktops
// @media (max-width:1025px) {
//   .header-menu-actions {
//     display: none;
//   }
// }

// // Hi-resolution laptops
// @media (max-width:1280px) {

// }
