.tdc-navbar .tdc-logo {
  max-height: 80px;
}

// Header Nav bar
.header-menu-actions {
  justify-content: end;
}

.header-menu-actions .free-consult-btn {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
