.our-stats {
  background-color: #1337a4;
  min-height: 3rem;
  padding: 3rem 0;
  // margin: 2rem 0;
  .stat-content {
    width: 60%;
    // color: #FFFFFF;
    // margin-bottom: 3rem;
  }

  .stat-container {
    @media screen and (max-width: 992px) {
      display: flex;
      flex-flow: column;
    }
  }
  .stat-title h1 {
    font-size: 2rem !important;
    font-weight: 400;
  }

  .stat-container h2 {
    font-size: 1.8rem !important;
    color: #e4fd73;
  }
}
