<section class="our-stats">
  <div class="container">
    <p class="stat-content">Our experts focus at educating clients with relevant and timely specialized support to align technology initiatives with your business goals.</p>
    <div class="stat-container flex-row-wrap">
      <div class="stat">
        <h3>5 Millions+</h3>
        <p>User identity managed since inception</p>
      </div>
      <div class="stat">
        <h3>100+</h3>
        <p>Successful IDM, Cyber Sec Implementations</p>
      </div>
      <div class="stat">
        <h3>300+</h3>
        <p>YTD/FY 2023 – Q1 dedicated headcount</p>
      </div>
      <div class="stat">
        <h3>30+</h3>
        <p>Active current engagements In Identity Security</p>
      </div>
      <div class="stat">
        <h3>50%</h3>
        <p>Cost Savings</p>
      </div>
    </div>
  </div>
</section>