<section class="our-stats text-light">
  <div class="container py-3 stat-title">
    <h1 class="pb-5">Our experts guide you with clear and timely support, helping align technology initiatives with your business goals</h1>
    <div class="stat-container flex-row-wrap">
      <div class="col">
        <h2>5 Million +</h2>
        <p>User identity managed since inception</p>
      </div>
      <div class="col">
        <h2>30+</h2>
        <p>Active Engagements in Identity Security</p>
      </div>
      <div class="col">
        <h2>200+</h2>
        <p>Successful IDM, Cyber Security Implementations</p>
      </div>
      <div class="col">
        <h2>23+</h2>
        <p>Years of experience in Cyber Security</p>
      </div>
      <div class="col">
        <h2>50%</h2>
        <p>Cost Savings</p>
      </div>
    </div>
  </div>
</section>