<section class="our-stats text-light">
  <div class="container py-3 stat-title">
    <h1 class="pb-5">Our experts focus at educating clients with relevant and timely specialized support to align technology initiatives with your business goals.</h1>
    <div class="stat-container flex-row-wrap">
      <div class="col">
        <h2>5 Millions+</h2>
        <p>User identity managed since inception</p>
      </div>
      <div class="col">
        <h2>100+</h2>
        <p>Successful IDM, Cyber Sec Implementations</p>
      </div>
      <div class="col">
        <h2>300+</h2>
        <p>YTD/FY 2023 – Q1 dedicated headcount</p>
      </div>
      <div class="col">
        <h2>30+</h2>
        <p>Active current engagements In Identity Security</p>
      </div>
      <div class="col">
        <h2>50%</h2>
        <p>Cost Savings</p>
      </div>
    </div>
  </div>
</section>