<section class="certified-partners">
  <div class="container">
    <div class="cp-container">
      <div class="row">
        <div class="col-md-12">
          <h2>Certified Partners</h2>
          <p class="half-width">While we are at the forefront of and specialize in design-build, we are very familiar with a number of delivery methods.</p>
        </div>
      </div>
      <div class="row sq-card-row">
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap">
            <h3>SailPoint</h3>
            <p class="text-center">Aptent taciti sociosqu ad litora torquent.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap">
            <h3>SailPoint</h3>
            <p class="text-center">Aptent taciti sociosqu ad litora torquent.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap">
            <h3>SailPoint</h3>
            <p class="text-center">Aptent taciti sociosqu ad litora torquent.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap">
            <h3>SailPoint</h3>
            <p class="text-center">Aptent taciti sociosqu ad litora torquent.</p>
          </div>
        </div>
      </div>
      <div class="row sq-card-row">
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap">
            <h3>SailPoint</h3>
            <p class="text-center">Aptent taciti sociosqu ad litora torquent.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap">
            <h3>SailPoint</h3>
            <p class="text-center">Aptent taciti sociosqu ad litora torquent.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap">
            <h3>SailPoint</h3>
            <p class="text-center">Aptent taciti sociosqu ad litora torquent.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap">
            <h3>SailPoint</h3>
            <p class="text-center">Aptent taciti sociosqu ad litora torquent.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>