.certified-partners {
  margin-bottom: 4rem;
  .sq-card-row {
    // margin-bottom: 1rem;
    border-radius: 16px;
    :last-child {
      margin: 0;
    }
  }

  .sq-card {
    // min-height: 180px;
    // min-width: 200px;
    background-color: #f5f5f6;
    justify-content: end;
    align-items: center;
    border-radius: 16px;
    padding: 1rem;
    // margin-bottom: 1rem !important;

    .partner-img {
      filter: grayscale(0.95);
      width: 70%;
      height: 72px;

      transition: transform 0.3s; /* Animation */
      &:hover {
        cursor: pointer;
        transform: scale(1.15);
        // box-shadow: 0 3px 8px rgb(255 255 255 / 18%), 0 3px 6px rgb(0 0 0 / 8%);
      }
    }
  }
}
