<section class="certified-partners">
  <div class="container">
    <div class="cp-container py-5">
      <div class="row">
        <div class="col-md-6 py-5">
          <h2>Certified Partners</h2>
          <p class="subtitle">While we are at the forefront of and specialize in design-build, we are very familiar with
            a number of delivery methods.</p>
        </div>
      </div>
      <div class="row sq-card-row">
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap py-4 mb-4">
            <img class="partner-img" src="../../assets/images/Partners/Sailpoint.svg" alt="Sailpoint">
            <!-- <h3>SailPoint</h3>
            <p class="text-center">Technology Partner</p> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap py-4 mb-4">
            <img class="partner-img" src="../../assets/images/Partners/Ping Identity.svg" alt="Ping Identity">
            <!-- <h3>SailPoint</h3>
            <p class="text-center">Technology Partner</p> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap py-4 mb-4">
            <img class="partner-img" src="../../assets/images/Partners/Logos__Saviynt.svg" alt="Saviynt">
            <!-- <h3>SailPoint</h3>
            <p class="text-center">Technology Partner</p> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap py-4 mb-4">
            <img class="partner-img" src="../../assets/images/Partners/Oracle.svg" alt="Oracle">
            <!-- <h3>SailPoint</h3>
            <p class="text-center">Technology Partner</p> -->
          </div>
        </div>
      </div>
      <div class="row sq-card-row">
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap py-4 mb-4">
            <img class="partner-img" src="../../assets/images/Partners/BeyondTrust.svg" alt="BeyondTrust">
            <!-- <h3>SailPoint</h3>
            <p class="text-center">Technology Partner</p> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap py-4 mb-4">
            <img class="partner-img" src="../../assets/images/Partners/Delinea.svg" alt="Delinea">
            <!-- <h3>SailPoint</h3>
            <p class="text-center">Technology Partner</p> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap py-4 mb-4">
            <img class="partner-img" src="../../assets/images/Partners/CyberARK.svg" alt="CyberARK">
            <!-- <h3>SailPoint</h3>
            <p class="text-center">Technology Partner</p> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap py-4 mb-4">
            <img class="partner-img" src="../../assets/images/Partners/Okta.svg" alt="Okta">
            <!-- <h3>SailPoint</h3>
            <p class="text-center">Technology Partner</p> -->
          </div>
        </div>
      </div>
      <div class="row sq-card-row">
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap py-4 mb-4">
            <img class="partner-img" src="../../assets/images/Partners/Open IAM.svg" alt="openIAM">
            <!-- <h3>SailPoint</h3>
              <p class="text-center">Technology Partner</p> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap py-4 mb-4">
            <img class="partner-img" src="../../assets/images/Partners/HYPR.svg" alt="HYPR">
            <!-- <h3>SailPoint</h3>
              <p class="text-center">Technology Partner</p> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap py-4 mb-4">
            <img class="partner-img" src="../../assets/images/Partners/Logos__Seceon.svg" alt="Seceon">
            <!-- <h3>SailPoint</h3>
              <p class="text-center">Technology Partner</p> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="sq-card flex-col-wrap py-4 mb-4">
            <img class="partner-img" src="../../assets/images/Partners/Logos__Securonix.png" alt="Securonix">
            <!-- <h3>SailPoint</h3>
              <p class="text-center">Technology Partner</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>