<div class="home-container">

  <!-- Carousel -->
  <carousel-component></carousel-component>
  
  <!-- Identity-secure-solutions -->
  <identity-secure-solution></identity-secure-solution>

  <!-- Testimonials -->
  <testimonials></testimonials>

  <!-- Potential Differentiators -->
  <potential-differentiator></potential-differentiator>

  <!-- Our Solutions -->
  <our-solutions></our-solutions>

  <!-- Our utilitites and accelerators -->
  <accelerators-utilities></accelerators-utilities>
  <!-- Take consultation -->
  <consultation-component></consultation-component>

  <!-- About us -->
  <about-us></about-us>

  <!-- Specialised Solutions -->
  <specialised-solutions></specialised-solutions>

  <!-- Case Studies -->
  <case-studies></case-studies>
  <!-- Valued Customers -->
  <valued-customers></valued-customers>

  <!-- Take consultation -->
  <consultation-component></consultation-component>

</div>
