<div class="privacy-policy-container">
    <header class="policy-header">
        <div class="policy-header">
            <div class="container py-5">
                <h2>Privacy Policy</h2>
                <hr>
                <div class="row">
                    <section class="col-md-8 py-3">
                        <p>Privacy Statement for www.TechDemocracy.com and www.cotelligent.com websites <br/>TechDemocracy
                            LLC 
                            (“TechDemocracy”) has created this privacy statement in order to demonstrate our firm’s
                            commitment to privacy. The following discloses our information gathering and dissemination
                            practices for www.TechDemocracy.com and www.cotelligent.com websites.</p>

                        <p>We use your IP address to help diagnose problems with our server and/or to administer our Web
                            site. This gives us an idea of which parts of our site users are visiting. We do not link IP
                            addresses to anything personally identifiable information. This means that a user’s session
                            will
                            be tracked, but the user will be anonymous. We reserve the right to use third party web
                            analytics software for this website that may potentially gather more fine grained
                            information
                            about user behavior on the website. This site contains links to other sites. TechDemocracy
                            is
                            not responsible for the privacy practices or the content of such Web sites. Our site’s
                            registration form may require you to give us Contact information like your name and email
                            address. We use this Contact information from the registration form to send you information
                            about our company or its products/services/documents that you may have requested from the
                            website. Users may opt-out of receiving future mailings by choosing the unsubscribe option
                            in
                            the registration form.</p>

                        <p>If we are required by law to disclose the information you have provided to us, we will do so.
                            This privacy statement may be modified from time to time. It is intended as a statement of
                            our
                            current practices, and not as an offer or contract of any sort. If the privacy statement is
                            amended, the latest version of the privacy statement will be included on our website.</p>

                        <h3 class="pt-4">Security</h3>
                        <p>This site has security measures in place to protect the loss, misuse, and/or alteration of
                            information under our control. The data resides behind a firewall, with access restricted to
                            authorized TechDemocracy personnel. However, this is only on a ‘best effort’ basis and is
                            without any warranties and indemnifications.</p>

                        <h3 class="pt-4">Contacting the Web Site</h3>
                        <p> If you have any questions about this privacy statement, the practices of this site, or your
                            dealings with this site, you can contact TechDemocracy at info@TechDemocracy.com</p>
                    </section>
                    <section class="col-md-4">
                        <img class ="policyimg"src="../../assets/images/Policies.png">
                    </section>
                </div>
            </div>
        </div>
    </header>
</div>