.solutions-hero-container {
  @media screen and (max-width: 992px) {
    .solutions-img, .absolute-img {
      display: block;
      position: relative !important;
      top: 0 !important;
      width: 100%;
    }
  }
  .solutions-pill {
    font-weight: normal;
    letter-spacing: 0.125rem;
    margin-bottom: 1rem;
  }
  .solutions-hero-section {
    background: linear-gradient(#173cb4 0%, #009dff 100%);
    border: 1px solid #707070;
    color: #ffffff;
    position: relative;
    .contact-expert {
      margin-top: 2rem;
    }
  }
  .content-img {
    position: relative;
    p {
      padding-top: 3rem;
      width: 80%;
    }
  }
  .absolute-img {
    position: absolute;
    // right: 16%;
    top: 100%;
    border-radius: 16px;
    z-index: 3;
  }
  .service-img {
    position: absolute;
    // right: 16%;
    top: 20%;
    border-radius: 16px;
  }
}

.service-bottom-fix {
  margin-bottom: 8rem;
}
