.solutions-hero-container {
  @media screen and (max-width: 992px) {
    .solutions-img,
    .absolute-img {
      display: block;
      position: relative !important;
      top: 0 !important;
      width: 100%;
    }
  }
  .solutions-pill {
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 0.125rem;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
    opacity: 0.75;
  }
  .solutions-hero-section {
    @media screen and (max-width: 992px) {
    margin-top: 5rem;
    }

    // background: linear-gradient(#173cb4 0%, #009dff 100%);
background: linear-gradient(105deg, #173cb4 0%, #009dff 49.9%, #173cb4 100%);
    color: #ffffff;
    position: relative;
    min-height: 360px;
    .contact-expert {
      margin-top: 2rem;
    }
  }
  .content-img {
    position: relative;
    p {
      padding-top: 3rem;
      // width: 80%;
    }
  }
  .absolute-img {
    width: 95%;
    position: absolute;
    // right: 16%;
    top: 75%;
    border-radius: 16px;
    z-index: 3;
    height: 24rem;
    object-fit: cover;
  }
  .service-img {
    position: absolute;
    // right: 16%;
    top: 20%;
    border-radius: 16px;
    width: 95%;
    height: 24rem;
    object-fit: cover;
    // height: auto;
  }
}

.service-bottom-fix {
  margin-bottom: 8rem;
}
