<section class="solutions-hero-container">
  <section class="px-4 py-5 my-5 solutions-hero-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span class="badge rounded-pill text-bg-dark">OUR SOLUTIONS</span>
          <h1>Unlocking Secure Access: Identity Governance Solutions</h1>
          <p>Automate compliance and protect your enterprise against threats.</p>
          <button class="btn btn-danger contact-expert">Talk to an Expert</button>
        </div>
        <div class="col-md-6">
          <p>
            Identity Governance and Administration (IGA) is at the center of IT operations, enabling and securing digital identities for all users, applications and data. Automating user lifecycle processes is critical for improving your operational efficiency, user experience and security posture, while reducing your risk and operational cost.
          </p>
        </div>
      </div>
    </div>
    <img src="../../assets/images/hall-bg.JPG" class="absolute-img" alt="">
  </section>
</section>