<section @slideUp class="specialised-solutions">
  <div class="container">
    <header class="row gutter-bottom-1">
      <div class="headings col-md-9">
        <h2>Industry Specific Solutions use cases Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.
        </h2>
      </div>
    </header>
    <section class="row">
      <div class="left-container col-xs-12 col-md-6 col-lg-6">
        <div class="spec-left-container">
          <div class="img-container gutter-bottom-1">
            <img src="../../assets/images/hall-bg.JPG" alt="Workplace image">
          </div>
          <h2>About TechDemocracy</h2>
          <p>Full range of consultant services and software solutions to help you quickly deploy critical
            Cybersecurity technologies.</p>
          <div class="specs-actions">
            <button type="button" class="btn btn-danger btn-lg">Free Consultation</button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="spec-right-container row">
          <div class="col-xs-12 col-md-6 col-lg-6 zoom-card">
            <div class="col-md-12 spec">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
              <h3>Specialised Solutions</h3>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6 zoom-card">
            <div class="col-md-12 spec">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
              <h3>Specialised Solutions</h3>
            </div>
          </div>
        </div>
        <div class="spec-right-container row">
          <div class="col-xs-12 col-md-6 col-lg-6 zoom-card">
            <div class="col-md-12 spec">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
              <h3>Specialised Solutions</h3>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6 zoom-card">
            <div class="col-md-12 spec">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
              <h3>Specialised Solutions</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>