<section class="resource-context-container">
  <section class="py-5 my-5 resources-highlights-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>{{contextType}} {{contextType === 'Events & Videos' ? 'Webinars':''}}</h3>
          <section class="prefered-caseStudie">
            <article class="prefernces prefered-size breathing-space-bottom gutter-top-1">
              <img *ngIf="contextType === 'Events & Videos'" src="../../../assets/images/events.png" width="100%" alt="events png">
              <img *ngIf="contextType !== 'Events & Videos'" src="../../../assets/images/sample_img.png" width="100%" alt="events png">
            </article>
            <div *ngIf="contextType === 'Events & Videos'" class="account-manager row gutter-top-2">
              <div class="col-md-3 flex-row-nowrap" *ngFor="let user of listOfUsers;">
                <div class="profile-img"><img class="circular--square" src="../../../assets/images/technology.jpg" width="100%" alt="technology png"></div>
                <div class="flex-col-nowrap breathing-space-left">
                  <label>{{user.role}}</label>
                  <h6 class="profile-name"><strong>{{user.name}}</strong></h6>
                  <p>{{user.designation}}</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <div class="events-container">
    <div class="container">
      <div class="view-all flex-row-nowrap">
        <h3 class="gutter-bottom-2">Featured {{contextType}} {{contextType === 'Events & Videos' ? '& Webinars':''}}</h3>
        <!-- <button *ngIf="upcomingEventIndex === 3" (click)="viewUpcomingEvent()" class="btn btn-outline-danger gutter-bottom-1">View All</button> -->
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let event of upcomingEvents | slice:0:upcomingEventIndex;">
          <article class="prefernces prefered-size breathing-space-bottom">
          </article>
          <div class="event-info">
            <label class="events">Customer Story</label>
            <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam qui odit
                vel,
                tenetur deleniti,
                ratione
                eligendi aliquid vitae</strong></p>
            <p class="event-time">14th November 2023, 06:43 PM</p>
            <button class="btn btn-outline-danger gutter-bottom-1 register-btn">Register</button>
          </div>
        </div>
      </div>
      <div class="view-all flex-row-nowrap gutter-top-2">
        <h3 class="gutter-bottom-2">All {{contextType}} {{contextType === 'Events & Videos' ? '& Webinars':'By Industry'}}</h3>
        <button *ngIf="latestVideosIndex === 6" (click)="viewAllVideos()"
          class="btn btn-outline-danger gutter-bottom-1">View All</button>
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let video of latestVideos | slice:0:latestVideosIndex">
          <article class="prefernces prefered-size breathing-space-bottom">
          </article>
          <label class="events">{{video.type}}</label>
          <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam qui odit
              vel,
              tenetur deleniti,
              ratione
              eligendi aliquid vitae</strong></p>
        </div>
      </div>
    </div>
  </div>

</section>
