<section class="ops-manage-services-container">
  <solutions-hero [dataObj]="solutionData"></solutions-hero>
  <IAM-advisory-assessment-why></IAM-advisory-assessment-why>
  <tdc-adv-consultant></tdc-adv-consultant>
  <experts-in-identity></experts-in-identity>

  <tdc-right-partner></tdc-right-partner>
  <!-- Testimonials -->
  <testimonials></testimonials>
  <!-- Take consultation -->
  <consultation-component></consultation-component>
  <!-- Success Stories -->
  <success-stories></success-stories>
</section>
