<section @slideUp class="consultation-container">
  <div class="container">
    <!-- <div class="decor-bg-blu row"></div> -->
  <section class="consult-section row">
    <article class="consult-action col-md-6">
      <h1>Take your Identity Strategy to the next level</h1>
      <button type="button" class="btn btn-danger">Talk to an Identity Advisor</button>
    </article>
    <article class="consult-content col-md-4">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
    </article>
  </section>
  </div>
</section>
