<section class="consultation-container py-5">
  <div class="container py-3">
    <!-- <div class="decor-bg-blu row"></div> -->
  <section class="consult-section row" data-aos="fade-up" 
  data-aos-duration="1000">
    <article class="consult-action col-md-6">
      <h1>Take your Identity Strategy to the next level</h1>
      <button type="button" class="btn btn-danger" (click)="talkToExpert()">Free Consultation</button>
    </article>
    <article class="consult-content col-md-6">
      <p class="subtitle">Empower your digital presence – act now to fortify your identity. Secure today for a confident and worry-free tomorrow. Contact us to protect and embrace a future where your digital security is a top priority.</p>
    </article>
  </section>
  </div>
</section>
