<section class="consultation-container py-5">
  <div class="container py-3">
    <!-- <div class="decor-bg-blu row"></div> -->
  <section class="consult-section row" data-aos="fade-up" 
  data-aos-duration="1000">
    <article class="consult-action col-md-6">
      <h1>Take Your Identity Strategy to the Next Level</h1>
      <button type="button" class="btn btn-danger" (click)="talkToExpert()">Get Your Free Consultation Now</button>
    </article>
    <article class="consult-content col-md-6">
      <p class="subtitle">Strengthen your organization's digital identity for a secure and worry-free tomorrow. Kickstart the journey with a complimentary consultation to explore personalized solutions.</p>
    </article>
  </section>
  </div>
</section>
