<div class="privacy-policy-container">
    <header class="policy-header">
        <div class="policy-header">
            <div class="container py-5">
                <h2>Terms and Conditions </h2>
                <hr>
                <div class="row">
                    <section class="col-md-8 py-3">
                        <p>
                            These terms and conditions, also known as the <b>"Website Terms of Use,"</b> are an official
                            agreement
                            between you <em>(either personally or on behalf of the organization that you are
                                entering</em>) and
                            TechDemocracy for the use and access of this website, https://techdemocracy.com/ which
                            contains
                            text, media, documentation, pictures, and other content (collectively, the "Website").</p>

                        <p>For purposes of these Terms, <em>“affiliates,”</em> includes all companies affiliated with
                            TechDemocracy
                            because these companies are owned by, or under the same common ownership as, TechDemocracy.
                        </p>

                        <p>These Terms are additional to any terms or agreements you may have with TechDemocracy
                            regarding
                            software licenses, software-as-a-service subscriptions, APIs and other connectors, product
                            evaluation or trial use, non-disclosure agreements, or alliance partnerships
                            <em>(collectively,
                                "Separate Terms".)</em></p>

                        <p>Without limiting the preceding, your use of TechDemocracy’s Community Program and Developer
                            Portal are subject to the Community Program Terms of Use and Developer Portal Terms of Use,
                            respectively.</p>

                        <p>You now certify that you are of legal age to enter into these terms by accessing or using the
                            TechDemocracy Website. You also agree to be bound by the privacy policy and these terms,
                            including the indemnity, limitation of liability, and warranty disclaimers that are
                            discussed
                            below.</p>

                        <p>About your use of this website, you also agree to abide by all applicable laws, rules, and
                            regulations. Please leave the website immediately and do not access or use it if you do not
                            understand or agree to these terms.
                        </p>

                        <h3>Content and Intellectual Property</h3>
                        <hr>

                        
                        <h4>Third-Party Links</h4> <p>In addition to making services and products available, the
                        TechDemocracy website also offers information and marketing materials. This Website also offers information,
                        both directly and through indirect links to third-party websites, about Identity access
                        management and cybersecurity-related services and products. TechDemocracy does not always create
                        the information offered on this Website; the information is often gathered from partner sources.
                        The information on this website, to the degree that it is created by TechDemocracy, is shielded
                        by international, national, and Indian intellectual property laws.</p>

                        <p>Unauthorized use of the content could be illegal under trademark, copyright, and other laws.
                            You understand that you may only use the material on this website for private, non-commercial
                            purposes. Links to external websites are purely for your convenience.
                            TechDemocracy does not endorse the contents of any such third-party websites. If you rely on
                            these third-party websites or access them, TechDemocracy is not liable for any harm that may
                            arise from those websites' content. You use hyperlinks to other people's websites at your
                            own
                            risk.</p>

                        <h4>Use of Website</h4>

                        <p>TechDemocracy is not responsible for any damages resulting from the use of this website by
                            anyone. You will not use the TechDemocracy Website for any illegal purposes. You will abide
                            by
                            all the applicable state, national, and international laws and regulations in using the
                            TechDemocracy Website (including laws regarding intellectual property).</p>

                        <p>You will not interfere with or disrupt the use of the TechDemocracy Website by other users,
                            not
                            resell material on the Website, not engage, directly or indirectly, in the transmission of
                            "spam", junk mail, or any other type of unsolicited communication, and not defame, abuse, or
                            disrupt other users of the Website.</p>



                        <h4>License</h4>

                        <p>By using the TechDemocracy website, you are granted a limited, non-exclusive,
                            non-transferable
                            right to use the content and materials on the Website in connection with your normal,
                            non-commercial, use of the Website. However, you may not copy, reproduce, transmit,
                            distribute,
                            or create derivative works of such content or information without express written
                            authorization
                            from TechDemocracy or the applicable third party (if third-party content is at issue).</p>



                        <h4>Privacy</h4>

                        <p>TechDemocracy believes strongly in protecting user privacy and providing you with notice of
                        TechDemocracy 's use of data. Please refer to our privacy policy, incorporated by reference
                        herein, that is posted on the TechDemocracy Website.</p>


                        <h4>Agreement to be bound</h4>

                        <p>By using the TechDemocracy Website or ordering our services or products, you acknowledge that
                            you have read and agree to be bound by this Agreement and all the terms and conditions
                            mentioned
                            on this Website.</p>



                        <h4>Modification</h4>

                        <p>We reserve the right to amend these Terms at any moment, at our sole discretion. As soon as
                            they
                            are posted, amended terms take effect. Your continued use of the Website, or any materials
                            or
                            services available through it, after new Terms are posted indicates that you accept the
                            changes.</p>



                        <h4>Contact Us</h4>

                        <li>If you have any concerns or questions about the above-mentioned Terms and Conditions, you
                            can
                            Contact Us:
                            <ul>
                                <li>By visiting this page on our website: https://techdemocracy.com/contact</li>
                                <li>By sending us an email: solutions@techdemocracy.com.</li>
                            </ul>
                        </li>

                    </section>
                    <section class="col-md-4">
                        <img class ="policyimg"src="../../assets/images/Policies.png">
                    </section>
                </div>
            </div>
        </div>
    </header>
</div>