<section class="about-us-ui-container">
  <!-- Solutions Hero Section -->
  <solutions-hero [dataObj]="aboutUsData"></solutions-hero>
  <!-- What we do -->
  <what-we-do></what-we-do>
    <!-- About us - TDC -->
    <about-tdc></about-tdc>
    <!-- Guiding Principles -->
  <guiding-principles></guiding-principles>
  <!-- Identity secure solution -->
  <identity-secure-solution></identity-secure-solution>
  <!-- Take consultation -->
  <consultation-component></consultation-component>
  <!-- YouTube Video container -->
  <yt-vid-container></yt-vid-container>
  <!-- Leadership Banner -->
  <leadership-banner></leadership-banner>
  
  <!-- Partners & Client News -->
  <partner-client-news></partner-client-news>
</section>