<section class="adv-why-container">
  <div class="container">
    <div>
      <h3>{{advAssmtObj.heading}}</h3>
      <div class="row">
        <div class="col-md-4" *ngFor="let item of advAssmtObj.list">
          <div class="flex-col-nowrap reason get-aligned">
            <svg-icon-component [name]="'impl_services'"></svg-icon-component>
            <h4>{{item.hdng}}</h4>
            <p>{{item.content}}</p>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="flex-col-nowrap reason find-gaps">
            <svg-icon-component [name]="'impl_services'"></svg-icon-component>
            <h4>2. Find the Gaps</h4>
            <p>Reveal gaps in implementation plans before they become a bigger problem</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="flex-col-nowrap reason proj-priority">
            <svg-icon-component [name]="'impl_services'"></svg-icon-component>
            <h4>Identify project prioritization</h4>
            <p>Reveal gaps in implementation plans before they become a bigger problem</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>