<section class="tdc-right-partner-container">
  <div class="container py-2">
    <div class="row pt-5">
      <h2 class="pb-4">Why Techdemocracy is your right Partner</h2>
      <div class="col-md-6 prob-solving">
        <div class="row sep-row">
          <div class="col-md-6 flex-col-nowrap">
            <div class="block block-a zoom-card">
              <img class="icn" src="../../assets/images/Home_Icons/Home_Innovation_32x.svg" alt="">
              <h3 class="pt-4">Looking for Experts?</h3>
              <p>Rely on our proven industry experience of 20+ years for a successful implementation.</p>
            </div>
            <div class="block block-c zoom-card">
              <img class="icn" src="../../assets/images/Home_Icons/Home_Innovation_32x.svg" alt="">
              <h3 class="pt-4">Worried about Future Scalability?</h3>
              <p>We future-proof your systems for seamless scalability, ensuring your identity security solutions grow effortlessly with your evolving business needs, guaranteeing long-term success.</p>
            </div>
          </div>
          <div class="col-md-6 flex-col-nowrap">
            <div class="block block-b zoom-card">
              <img class="icn" src="../../assets/images/Home_Icons/Home_Innovation_32x.svg" alt="">
              <h3 class="pt-4">Desiring Flexible Delivery Models?</h3>
              <p>Our adaptive approach ensures the right fit for your project requirements, providing flexibility and efficiency.</p>
            </div>
            <div class="block block-d zoom-card">
              <img class="icn" src="../../assets/images/Home_Icons/Home_Innovation_32x.svg" alt="">
              <h3 class="pt-4">Want Strategic Collaboration?</h3>
              <p>Benefit from our collaborations with leading vendors.</p>
            </div>
          </div>
        </div>
        <!-- <div class="row sep-row">
          <div class="col-md-6">
            <div class="block block-c">
              <img src="../../assets/images/bloc-2.JPG" alt="">
              <h4>Have specific requirements in mind?</h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
            </div>
          </div>
         <div class="col-md-6">
            <div class="block block-d">
              <img src="../../assets/images/bloc-1.JPG" alt="">
              <h4>Undecided on which IAM product to use?</h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
            </div>
          </div>
        </div>  -->
      </div>
      <div class="col-md-6 feature-provision">
        <div class="row">
          <div class="col-md-12">
            <div class="full-bloc flexibility zoom-card">
              <img class="icn" src="../../assets/images/Home_Icons/Home_Innovation_32x.svg" alt="">
              <h3 class="pt-4">Looking for ﬂexibility in Project Scaling?</h3>
              <p>
                We understand the dynamic nature of projects. Our flexible approach allows seamless scaling, ensuring your identity security initiatives align perfectly with your evolving business requirements.
                Whether you're expanding rapidly or adjusting to changing circumstances, our solutions adapt to meet your unique needs with ease
              </p>
              <button class="btn btn-outline-dark pt-2" (click)="talkToExpert()">Contact an Expert</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="full-bloc concern zoom-card">
              <img class="icn" src="../../assets/images/Home_Icons/Home_Innovation_32x.svg" alt="">
              <h3 class="pt-4">Concerned about Deployment Speed?</h3>
              <p>
                Recognizing the need for swift action, our streamlined processes and experienced team ensure not just speed but also efficiency in deploying robust identity security solutions. With a focus on precision,
                we accelerate the implementation timeline without compromising on the quality of our solutions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
