<section class="tdc-right-partner-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 prob-solving">
        <div class="row sep-row">
          <div class="col-md-6">
            <div class="block block-a">
              <img src="../../assets/images/bloc-1.JPG" alt="">
              <h4>Worried about costs?</h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="block block-b">
              <img src="../../assets/images/bloc-2.JPG" alt="">
              <h4>Confronted with a complex problem?</h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
            </div>
          </div>
        </div>
        <div class="row sep-row">
          <div class="col-md-6">
            <div class="block block-c">
              <img src="../../assets/images/bloc-2.JPG" alt="">
              <h4>Have specific requirements in mind?</h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="block block-d">
              <img src="../../assets/images/bloc-1.JPG" alt="">
              <h4>Undecided on which IAM product to use?</h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 feature-provision">
        <div class="row">
          <div class="col-md-12">
            <div class="full-bloc flexibility">
              <img src="../../assets/images/bloc-3.JPG" alt="">
              <h4>Looking for flexibility in project scaling?</h4>
              <p>
                We offer a global, dynamic team of 800 IAM experts that can seamlessly scale up or down based on your current needs, ensuring efficient and effective project management.
              </p>
              <button class="btn btn-danger">Talk to an Expert</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="full-bloc concern">
              <h4>Concerned about industry specific IAM requirements?</h4>
              <p>
                With our extensive industry experience, we’re familiar with the unique needs and challenges associated with various sectors. Rest assured, we’ve got the expertise to meet your industry’s specific IAM demands.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>