.resources-container {
  margin-top: 20rem;

  @media screen and (max-width: 992px) {
    margin-top: 52rem;
  }

  .casestudyimg {
    width: 100%;
    height: auto;
  }
  .categories {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img.casestudyimg {
    border-radius: 12px !important;
    filter: saturate(80%);
  }

  p {
    color: #dc3545;
    font-size: 14px !important;
  }
  a {
    color: #212529;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.85;
  }
  ul,
  li {
    list-style-type: none;
  }
  .selected {
    font-weight: bold;
  }
  .list-casestudy {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
