<section class="services-container">
  <solutions-hero [dataObj]="solutionData"></solutions-hero>
  <IAM-advisory-assessment-why></IAM-advisory-assessment-why>
  <tdc-adv-consultant></tdc-adv-consultant>
  <experts-in-identity></experts-in-identity>
  <our-stats></our-stats>
  <tdc-right-partner></tdc-right-partner>
  <!-- Testimonials -->
  <testimonials></testimonials>
  <!-- Take consultation -->
  <consultation-component></consultation-component>
  <!-- Success Stories -->
  <success-stories></success-stories>
   <!-- Accelerators -->
   <accelerators-utilities></accelerators-utilities>
  <!-- Case Studies -->
  <case-studies></case-studies>
  <!-- Valued Customers -->
  <valued-customers></valued-customers>
</section>
