<div class="about-tdc">
  <div class="container">
    <header class="abt-tdc-hdr flex-row-nowrap mt-5 mb-3">
      <div class="hdr-content flex-col-wrap">
        <h2>About TechDemocracy</h2>
        <p class="subtitle">Full range of Consulting Services and software solutions to help you quickly deploy critical Cybersecurity
          technologies.</p>
      </div>
      <div>
        <!-- <button class="btn btn-outline-dark">Find us whom we are</button> -->
      </div>
    </header>
    <section class="abt-cards-container row text-light">
      <article class="abt-card-section col-md-3">
        <div class="abt-card first-card flex-col-wrap">
          <h2 class="ng-tns-c120-11">5 Million +</h2>
          <p class="ng-tns-c120-11">User Identity Managed since inception.</p>
        </div>
        <!-- <h3>New Partnership</h3>
        <h4>The quick, brown fox jumps over a lazy dog flock</h4>
        <a href="#">Read Story</a> -->
      </article>
      <article class="abt-card-section col-md-3">
        <div class="abt-card second-card flex-col-wrap">
          <h2 class="ng-tns-c120-11">30+</h2>
          <p class="ng-tns-c120-11">Active Engagements in Identity Security</p>
        </div>
        <!-- <h3>New Partnership</h3>
        <h4>The quick, brown fox jumps over a lazy dog flock</h4>
        <a href="#">Read Story</a> -->
      </article>
      <article class="abt-card-section col-md-3">
        <div class="abt-card third-card flex-col-wrap">
          <h2 class="ng-tns-c120-11">200+</h2>
          <p class="ng-tns-c120-11">Successful IDM, Cyber Security Implementations</p>
        </div>
        <!-- <h3>New Partnership</h3>
        <h4>The quick, brown fox jumps over a lazy dog flock</h4>
        <a href="#">Read Story</a> -->
      </article>
      <article class="abt-card-section col-md-3">
        <div class="abt-card fourth-card flex-col-wrap">
          <h2 class="ng-tns-c120-11">23+</h2>
          <p class="ng-tns-c120-11">Years of experience in Cyber Security</p>
        </div>
        <!-- <h3>New Partnership</h3>
        <h4>The quick, brown fox jumps over a lazy dog flock</h4>
        <a href="#">Read Story</a> -->
      </article>
    </section>
  </div>
</div>