<div class="about-tdc">
  <div class="container">
    <header class="abt-tdc-hdr flex-row-nowrap">
      <div class="hdr-content flex-col-wrap">
        <h2>About us - TechDemocracy</h2>
        <p>Full range of consultant services and software solutions to help you quickly deploy critical Cybersecurity
          technologies.</p>
      </div>
      <div>
        <button class="btn btn-outline-dark">Find us whom we are</button>
      </div>
    </header>
    <section class="abt-cards-container row">
      <article class="abt-card-section col-md-3">
        <div class="abt-card first-card flex-col-wrap">
          <h3 class="ng-tns-c120-11">5 Millions +</h3>
          <p class="ng-tns-c120-11">User Identity Managed since inception</p>
        </div>
        <!-- <h3>New Partnership</h3>
        <h4>The quick, brown fox jumps over a lazy dog flock</h4>
        <a href="#">Read Story</a> -->
      </article>
      <article class="abt-card-section col-md-3">
        <div class="abt-card second-card flex-col-wrap">
          <h3 class="ng-tns-c120-11">5 Millions +</h3>
          <p class="ng-tns-c120-11">User Identity Managed since inception</p>
        </div>
        <!-- <h3>New Partnership</h3>
        <h4>The quick, brown fox jumps over a lazy dog flock</h4>
        <a href="#">Read Story</a> -->
      </article>
      <article class="abt-card-section col-md-3">
        <div class="abt-card third-card flex-col-wrap">
          <h3 class="ng-tns-c120-11">5 Millions +</h3>
          <p class="ng-tns-c120-11">User Identity Managed since inception</p>
        </div>
        <!-- <h3>New Partnership</h3>
        <h4>The quick, brown fox jumps over a lazy dog flock</h4>
        <a href="#">Read Story</a> -->
      </article>
      <article class="abt-card-section col-md-3">
        <div class="abt-card fourth-card flex-col-wrap">
          <h3 class="ng-tns-c120-11">5 Millions +</h3>
          <p class="ng-tns-c120-11">User Identity Managed since inception</p>
        </div>
        <!-- <h3>New Partnership</h3>
        <h4>The quick, brown fox jumps over a lazy dog flock</h4>
        <a href="#">Read Story</a> -->
      </article>
    </section>
  </div>
</div>