<div class="">

  <!-- Gartner Header -->
  <header @appear class="gartner-header">
    <div class="container gartner-header-content">
      <div class="flex-row-nowrap report-content">
        <h1 class="hdng">GARTNER Report - 2023 Strategic Roadmap for Zero Trust Security Program
          Implementation
        </h1>
        <a href="#" class="pl-3">Check the Reports</a>
      </div>
      <div class="actions">
        <a href="#">Chat with Sales</a>
        <a href="#">United States</a>
      </div>
    </div>

  </header>
  <!-- Responsive NAV Bar -->

  <!-- <p>A responsive navbar can be achieved with an <code>ngbCollapse</code> directive.</p> -->

  <nav @slideUp class="navbar navbar-expand-lg navbar-light bg-light mb-3 tdc-navbar">
    <div class="container justify-content-between">
      <a class="navbar-brand">
        <img src="../assets/images/tdc-logo.png" class="tdc-logo" alt="TechDemocracy Logo">
      </a>

      <div class="header-menu-actions flex-row-nowrap">
        <div [ngbCollapse]="isMenuCollapsed" class="navbar">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Solutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Services</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link">Partners</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Company</a>
            </li>
          </ul>
        </div>
        <div class="free-consult-btn">
          <button type="button" class="btn btn-outline-danger ">Free Consultation</button>
        </div>
      </div>
    </div>
  </nav>

  <!-- Carousel -->

  <ngb-carousel @slideUp class="tdc-carousel-container" *ngIf="images" [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img class="tdc-carousel-img" [src]="image" alt="Random slide" />
      </div>
      <!-- <div class="carousel-caption">
        <h3>No mouse navigation</h3>
        <p>Some carousel text</p>
      </div> -->
    </ng-template>
  </ngb-carousel>

  <!-- Identity-secure-solutions -->
  <section @slideUp class="id-secure-solutions">
    <div class="container">
      <div class="row">
        <section class="solution-blocks col-md-9">
          <h2>Looking for your better Identity Security Solutions</h2>
          <div class="sol-blocks flex-row-nowrap">
            <article class="sol-block">
              <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3>
              <div class="flex-row-nowrap sol-link">
                <h4>Advisory consulting</h4>
              </div>
            </article>
            <article class="sol-block">
              <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3>
              <div class="flex-row-nowrap sol-link">
                <h4>Implementation Services</h4>
              </div>
            </article>
            <article class="sol-block">
              <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3>
              <div class="flex-row-nowrap sol-link">
                <h4>Operation and manage services</h4>
              </div>
            </article>
          </div>
        </section>
        <!-- Testimonials Block -->
        <section class="testimonials-block col-md-3">
          <header class="testimonials-header">
            <div class="titles">
              <h2>T Mobile</h2>
              <h3>Security Consultant Advisory Manager</h3>
            </div>
          </header>
          <div class="testimony-body">
            <h4 class="testimony-name">Testimonial</h4>
            <p class="testimony-content">“TechDemocracy has been an invaluable partner for T-Mobile. . . . With
              TechDemocracy we believe we have built one of the industry leading IGA platforms. . . . We are in sync as
              if
              they knew what I was thinking before I was thinking it. They have a RoadMap for my RoadMap.”</p>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!-- Potential Differentiators -->
  <section @slideUp class="potential-diffs">
    <div class="container">
      <header class="potential-diffs-hdr">
        <div>
          <h2>Potential Differentiators for IAM solutions</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et
            dolore magna aliquyam erat.</p>
        </div>
        <button type="button" class="btn btn-outline-dark know-more-btn">Know More</button>
      </header>

    </div>
  </section>
  <section @slideUp class="differentiators">
    <div class="container flex-row-wrap">
      <div class="diff-item">
        <div class="icon-container icon-bg-deep-blu">
          <!-- <img src="../assets/images/lock.svg" alt=""> -->
        </div>
        
        <div class="diff-content">
          <h3>Skilled Resources</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat.</p>
        </div>
      </div>
      <div class="diff-item">
        <div class="icon-container icon-bg-pink">

        </div>
        <div class="diff-content">
          <h3>Industry Experience</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat.</p>
        </div>
      </div>
      <div class="diff-item flex-row-nowrap">
        <div class="icon-container icon-bg-purple">

        </div>
        <div class="diff-content">
          <h3>Center of Excellence (CoE)</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat.</p>
        </div>
      </div>
      <div class="diff-item flex-row-nowrap">
        <div class="icon-container icon-bg-blu">

        </div>
        <div class="diff-content">
          <h3>Trainings</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat.</p>
        </div>
      </div>
      <div class="diff-item flex-row-nowrap">
        <div class="icon-container icon-bg-pink">

        </div>
        <div class="diff-content">
          <h3>Innovation</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat.</p>
        </div>
      </div>
      <div class="diff-item flex-row-nowrap">
        <div class="icon-container icon-bg-green">

        </div>
        <div class="diff-content">
          <h3>Alliance & Partnership</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Solutions -->
  <section @slideUp class="our-solutions">
    <div class="container">
      <header class="our-solutions-header">
        <div>
          <h2>Our Solutions in Identity Security</h2>
          <p class="our-solutions-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
            et.</p>
        </div>
      </header>
      <div class="our-solutions-body flex-row-nowrap">
        <div class="our-solutions-blocks flex-row-wrap">
          <div class="our-solution sol-dark-blue">
            <h3>Identity Security</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore.</p>
          </div>
          <div class="our-solution sol-dark-pink">
            <h3>Cyber Risk Visibility</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore.</p>
          </div>
          <div class="our-solution sol-light-blue">
            <h3>Governance, Risk & Compliance</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore.</p>
          </div>
          <div class="our-solution sol-dark-purple">
            <h3>Soc & Managed Solutions</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore.</p>
          </div>
        </div>
        <div class="solution-workers">
        </div>
      </div>
    </div>
  </section>
  <!-- Our utilitites and accelerators -->
  <section @slideUp class="utilities">
    <div class="container">
      <header class="utilities-header">
        <h2>Our Utilities & Accelerators</h2>
        <h3>Delivering Security Solutions Never Been This Easy</h3>
      </header>
      <section class="utilities-body">
        <div class="utility-container row">
          <div class="utility col-md-4 flex-row-nowrap">
            <div class="utility-icon"></div>
            <div class="utility-body">
              <h4 class="utility-name">SwiftAppOnBoarding</h4>
              <p class="utility-desc">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              </p>
              <a href="#" class="utility-link">Know More</a>
            </div>
          </div>
          <div class="utility col-md-4 flex-row-nowrap">
            <div class="utility-icon"></div>
            <div class="utility-body">
              <h4 class="utility-name">AppDataSync</h4>
              <p class="utility-desc">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              </p>
              <a href="#" class="utility-link">Know More</a>
            </div>
          </div>
          <div class="utility col-md-4 flex-row-nowrap">
            <div class="utility-icon"></div>
            <div class="utility-body">
              <h4 class="utility-name">Legacy IDM to IGA Migration</h4>
              <p class="utility-desc">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              </p>
              <a href="#" class="utility-link">Know More</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <!-- Take consultation -->
  <section @slideUp class="consultation-container">
    <div class="container">
      <!-- <div class="decor-bg-blu row"></div> -->
      <section class="consult-section row">
        <article class="consult-action col-md-6">
          <h1>Take your Identity Strategy to the next level</h1>
          <button type="button" class="btn btn-danger">Free Consultation</button>
        </article>
        <article class="consult-content col-md-4">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
        </article>
      </section>
    </div>
  </section>

  <!-- About us -->
  <section @slideUp class="about-us">
    <div class="container">
      <header class="about-us-header row">
        <div class="headings col-md-9">
          <h2>About us TechDemocracy</h2>
          <p>Full range of consultant services and software solutions to help you quickly deploy critical Cybersecurity
            technologies.</p>
        </div>
        <div class="about-us-actions col-md-3">
          <button class="btn btn-outline-secondary">Find us whom we are </button>
        </div>
      </header>
      <section class="about-us-body row">
        <div class="yt-vid-container col-md-6">
          <iframe width="90%" class="yt-iframe" height="315" src="https://www.youtube.com/embed/mgMhoY4r0dU?si=JqcyyJUKT9CoQNeP">
          </iframe>
        </div>
        <div class="about-us-misc col-md-6">
          <article class="highlights flex-row-wrap">
            <div class="highlight flex-row-nowrap">
              <div class="highlight-left"></div>
              <div class="highlight-content">
                <h3>5 Millions +</h3>
                <p>User Identity Managed since inception</p>
              </div>
            </div>
            <div class="highlight flex-row-nowrap">
              <div class="highlight-left"></div>
              <div class="highlight-content">
                <h3>30+</h3>
                <p>Active current engagements In Identity Security</p>
              </div>
            </div>
            <div class="highlight flex-row-nowrap">
              <div class="highlight-left"></div>
              <div class="highlight-content">
                <h3>100+</h3>
                <p>Successful IDM, Cyber Sec Implementations</p>
              </div>
            </div>
            <div class="highlight flex-row-nowrap">
              <div class="highlight-left"></div>
              <div class="highlight-content">
                <h3>300+</h3>
                <p>YTD/FY 2023 – Q1 dedicated headcount</p>
              </div>
            </div>
          </article>
          <div class="free-consult-headings">
            <h2>About us TechDemocracy</h2>
            <p>Full range of consultant services and software solutions to help you quickly deploy critical
              Cybersecurity technologies.</p>
            <div class="free-consult-btn">
              <button type="button" class="btn btn-danger btn-lg">Free Consultation</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  <!-- Specialised Solutions -->
  <section @slideUp class="specialised-solutions">
    <div class="container">
      <header class="row">
        <div class="headings col-md-9">
          <h2>Industry Specific Solutions use cases Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.</h2>
        </div>
      </header>
      <section class="flex-row-nowrap">
        <div class="">
          <div class="spec-left-container">
            <div class="img-container"></div>
            <h2>About Us TechDemocracy</h2>
            <p>Full range of consultant services and software solutions to help you quickly deploy critical Cybersecurity technologies.</p>
            <div class="specs-actions col-md-3">
              <button type="button" class="btn btn-danger btn-lg">Free Consultation</button>
            </div>
          </div>
        </div>
        <div class="">
          <div class="spec-right-container flex-row-wrap">
            <div class="spec">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
              <h3>Specialised Solutions</h3>
            </div>
            <div class="spec">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
              <h3>Specialised Solutions</h3>
            </div>
            <div class="spec">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
              <h3>Specialised Solutions</h3>
            </div>
            <div class="spec">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
              <h3>Specialised Solutions</h3>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  <!-- Take consultation -->
  <section @slideUp class="consultation-container">
    <div class="container">
      <!-- <div class="decor-bg-blu row"></div> -->
      <section class="consult-section row">
        <article class="consult-action col-md-6">
          <h1>Take your Identity Strategy to the next level</h1>
          <button type="button" class="btn btn-danger">Free Consultation</button>
        </article>
        <article class="consult-content col-md-4">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
        </article>
      </section>
    </div>
  </section>

  <!-- Footer area -->
  <footer class="tdc-footer">
    <section class="tdc-footer-content">

    </section>
  </footer>
</div>