.id-secure-solutions {
  padding-top: 3rem;
  .sol-block-intro {
    // width: 55%;
    margin-bottom: 2rem;
  }
  .solution-blocks h2 {
    font-size: 2.25rem;
    // width: 48%;
    // margin-bottom: 7rem;
    margin-top: 2rem;
  }
  .sol-blocks .blocks {
    margin-bottom: 1rem;
    max-height: 24rem;
  }
  .sol-blocks .sol-block {
    cursor: pointer;
    border-radius: 18px;
    margin-bottom: 1rem;
    height: 100%;
    padding: 2rem;
    overflow: hidden;

    color: 000000;
    transition: color 0.5s ease;
    transition: background 0.5s ease;
    h3 {
      font-size: 14px;
      font-style: normal;
      font-weight: 100;
    }
    .sol-link h4 {
      // width: 70%;
    }
    .sol-link p {
      font-size: 14px;
      max-width: 95%;
      margin: 0;
    }
    .sol-link .heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      svg-icon-component {
        display: flex;
        flex-flow: row;
        justify-content: end;
        width: auto;
      }
    }
    &.block-1 {
      background-color: #e7e7f8;
    }
    &.block-2 {
      background-color: #e5f5ff;
    }
    &.block-3 {
      background-color: #fdeef0;
    }
    &.block-4 {
      background-color: #e7ebf7;
    }
    &:hover {
      background-color: #000000;
      .svg-icon {
        fill: #ffffff !important;
      }
      .sol-link h4 {
        color: #ffffff;
      }
      p {
        color: #ffffff;
      }
    }

    .svg-icon {
      min-height: 4rem;
      margin-bottom: 1rem;
      width: 2rem;
      height: 2rem;
    }
  }

  // Testimonials block
  .testimonials-block {
    background-color: #f3fbfe;
    padding: 3rem 1rem 1rem 1rem;
    border-radius: 18px;

    .titles h2 {
      font-size: 20px;
    }
    .titles h3 {
      font-size: 16px;
      font-style: normal;
      font-weight: 100;
    }

    .testimony-body .testimony-name {
      font-size: 18px;
    }
    .testimony-body .testimony-content {
      font-size: 14px;
    }
  }
}
