<section class="id-secure-solutions">
  <div class="container my-5">
    <div class="row">
      <section class="col-md-12">
        <h2>Identity Security Solutions by TechDemocracy</h2>
        <p class="col-md-9 subtitle">From Advisory Consulting to Managed Services, we ensure effective strategy
          development and continuous security support.</p>
        <div class="sol-blocks row mt-5">
          <article class="col-lg-3 col-md-6 col-sm-6 col-xs-12 blocks zoom-card">
            <article class="sol-block block-1">
              <!-- <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3> -->
              <div class="flex-col-nowrap sol-link">
                <svg-icon-component [name]="'adv_consulting'"></svg-icon-component>
                <div class="heading row">
                  <h3 class="col-lg-6 col-md-12 col-sm-12 col-xs-12">Advisory Consulting</h3>
                  <svg-icon-component class="col-lg-6 col-md-12 col-sm-12 col-xs-12" [name]="'right_arrow'">
                  </svg-icon-component>
                </div>
                <p>To build a solid plan for your cybersecurity transformation journey, we extensively assess the gaps
                  and vulnerabilities in your present setup.</p>
              </div>
            </article>
          </article>
          <article class="col-lg-3 col-md-6 col-sm-6 col-xs-12 blocks zoom-card">
            <article class="sol-block block-2">
              <!-- <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3> -->
              <div class="flex-col-nowrap sol-link">
                <svg-icon-component [name]="'impl_services'"></svg-icon-component>
                <div class="heading flex-row-wrap row">
                  <h3 class="col-lg-6 col-md-12 col-sm-12 col-xs-12">Implementation Services</h3>
                  <svg-icon-component class="col-lg-6 col-md-12 col-sm-12 col-xs-12" [name]="'right_arrow'">
                  </svg-icon-component>
                </div>
                <p>From system integration to legacy system migration, we leverage industry expertise to seamlessly
                  transform your Identity Access Management (IAM) capabilities.</p>
              </div>
            </article>
          </article>
          <article class="col-lg-3 col-md-6 col-sm-6 col-xs-12 blocks zoom-card">
            <article class="sol-block block-3">
              <!-- <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3> -->
              <div class="flex-col-nowrap sol-link">
                <svg-icon-component [name]="'support_n_ops'"></svg-icon-component>
                <div class="heading flex-row-wrap row">
                  <h3 class="col-lg-6 col-md-12 col-sm-12 col-xs-12">Operation & Support</h3>
                  <svg-icon-component class="col-lg-6 col-md-12 col-sm-12 col-xs-12" [name]="'right_arrow'">
                  </svg-icon-component>
                </div>
                <p>We manage your Identity Security environment 24/7/365, delivering tailored outcomes and continuous
                  improvement insights with 0 downtime and business continuity.</p>
              </div>

            </article>
          </article>
          <article class="col-lg-3 col-md-6 col-sm-6 col-xs-12 blocks zoom-card">
            <article class="sol-block block-4">
              <!-- <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3> -->
              <div class="flex-col-nowrap sol-link">
                <svg-icon-component [name]="'managed_services'"></svg-icon-component>

                <div class="heading flex-row-wrap row">
                  <h3 class="col-lg-6 col-md-12 col-sm-12 col-xs-12">Managed Services</h3>
                  <svg-icon-component class="col-md-12 col-sm-12 col-xs-12" [name]="'right_arrow'"></svg-icon-component>
                </div>
                <p>We employ industry experience to transform your Identity Security capabilities, from system
                  onboarding to transfer from old systems to IGA and reengineering.</p>
              </div>

            </article>
          </article>
        </div>
      </section>
      <!-- Testimonials Block -->
      <!-- <section class="testimonials-block col-md-3">
        <header class="testimonials-header">
          <div class="titles">
            <h2>T Mobile</h2>
            <h3>Security Consultant Advisory Manager</h3>
          </div>
        </header>
        <div class="testimony-body">
          <h4 class="testimony-name">Testimonial</h4>
          <p class="testimony-content">“TechDemocracy has been an invaluable partner for T-Mobile. . . . With
            TechDemocracy we believe we have built one of the industry leading IGA platforms. . . . We are in sync as if
            they knew what I was thinking before I was thinking it. They have a RoadMap for my RoadMap.”</p>
        </div>
      </section> -->
    </div>
  </div>
</section>