<section @slideUp class="id-secure-solutions">
  <div class="container">
    <div class="row">
      <section class="solution-blocks col-md-12">
        <h2>Identity Security Solutions by TechDemocracy</h2>
        <p class="sol-block-intro">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna aliquyam erat.</p>
        <div class="sol-blocks row flex-row-nowrap">
          <article class="sol-block col-md-3">
            <!-- <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3> -->
            <div class="flex-col-nowrap sol-link">
              <svg-icon-component [name]="'adv_consulting'"></svg-icon-component>
              <div class="heading flex-row-nowrap">
                <h4>Advisory consulting</h4>
                <svg-icon-component [name]="'right_arrow'"></svg-icon-component>
              </div>
              <p>We conduct a comprehensive review of your environment’s current gaps and weaknesses and leverage this
                baseline knowledge to create a foundational plan for your cybersecurity transformation journey</p>
            </div>
          </article>
          <article class="sol-block col-md-3">
            <!-- <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3> -->
            <div class="flex-col-nowrap sol-link">
              <svg-icon-component [name]="'impl_services'"></svg-icon-component>
              <div class="heading flex-row-nowrap">
                <h4>Implementation Services</h4>
                <svg-icon-component [name]="'right_arrow'"></svg-icon-component>
              </div>
              <p>From system integration to legacy system migration, we leverage industry expertise to transform your
                IAM capabilities seamlessly.</p>
            </div>
          </article>
          <article class="sol-block col-md-3">
            <!-- <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3> -->
            <div class="flex-col-nowrap sol-link">
              <svg-icon-component [name]="'support_n_ops'"></svg-icon-component>
              <div class="heading flex-row-nowrap">
                <h4>Operation & Support</h4>
                <svg-icon-component [name]="'right_arrow'"></svg-icon-component>
              </div>
              <p>We manage your Identity Security environment24/7/365, delivering tailored outcomes and continuous
                improvement insights with 0 downtime and business continuity.</p>
            </div>

          </article>
          <article class="sol-block col-md-3">
            <!-- <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3> -->
            <div class="flex-col-nowrap sol-link">
              <svg-icon-component [name]="'managed_services'"></svg-icon-component>
              
              <div class="heading flex-row-nowrap">
                <h4>Managed services</h4>
                <svg-icon-component [name]="'right_arrow'"></svg-icon-component>
              </div>
              <p>We provide end-to-end managed services in key Identity Security domains. From system onboarding,
                migration from legacy systems to IGA, and reengineering, we leverage industry expertise to transform your
                Identity Security capabilities, seamlessly</p>
            </div>
            
          </article>
        </div>
      </section>
      <!-- Testimonials Block -->
      <!-- <section class="testimonials-block col-md-3">
        <header class="testimonials-header">
          <div class="titles">
            <h2>T Mobile</h2>
            <h3>Security Consultant Advisory Manager</h3>
          </div>
        </header>
        <div class="testimony-body">
          <h4 class="testimony-name">Testimonial</h4>
          <p class="testimony-content">“TechDemocracy has been an invaluable partner for T-Mobile. . . . With
            TechDemocracy we believe we have built one of the industry leading IGA platforms. . . . We are in sync as if
            they knew what I was thinking before I was thinking it. They have a RoadMap for my RoadMap.”</p>
        </div>
      </section> -->
    </div>
  </div>
</section>