<section @slideUp class="id-secure-solutions">
  <div class="container">
    <div class="row">
      <section class="solution-blocks col-md-9">
        <h2>Looking for your better Identity Security Solutions</h2>
        <div class="sol-blocks flex-row-nowrap">
          <article class="sol-block">
            <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3>
            <div class="flex-row-nowrap sol-link">
              <h4>Advisory consulting</h4>
            </div>
          </article>
          <article class="sol-block">
            <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3>
            <div class="flex-row-nowrap sol-link">
              <h4>Implementation Services</h4>
            </div>
          </article>
          <article class="sol-block">
            <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h3>
            <div class="flex-row-nowrap sol-link">
              <h4>Operation and manage services</h4>
            </div>
          </article>
        </div>
      </section>
      <!-- Testimonials Block -->
      <section class="testimonials-block col-md-3">
        <header class="testimonials-header">
          <div class="titles">
            <h2>T Mobile</h2>
            <h3>Security Consultant Advisory Manager</h3>
          </div>
        </header>
        <div class="testimony-body">
          <h4 class="testimony-name">Testimonial</h4>
          <p class="testimony-content">“TechDemocracy has been an invaluable partner for T-Mobile. . . . With
            TechDemocracy we believe we have built one of the industry leading IGA platforms. . . . We are in sync as if
            they knew what I was thinking before I was thinking it. They have a RoadMap for my RoadMap.”</p>
        </div>
      </section>
    </div>
  </div>
</section>
