.id-secure-solutions {
  padding-top: 3rem;
  .sol-block-intro {
    width: 55%;
  }
  .solution-blocks h2 {
    font-size: 32px;
    // width: 48%;
    // margin-bottom: 7rem;
    margin-top: 2rem;
  }
  .sol-blocks .sol-block {
    // background-color: #edf2fb;
    cursor: pointer;
    border-radius: 18px;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    // width: 30%;
    h3 {
      font-size: 14px;
      font-style: normal;
      font-weight: 100;
    }
    .sol-link h4 {
      width: 70%;
    }
    .sol-link p {
      font-size: 14px;
      max-width: 95%;
    }
    .sol-link .heading {
      justify-content: space-around;
    }
    &:first-child {
      background-color: #E7E7F8;
    }
    &:nth-child(2) {
      background-color: #E5F5FF;
    }
    &:nth-child(3) {
      background-color: #FDEEF0;
    }
    &:nth-child(4) {
      background-color: #E7EBF7;
      margin-right: 0;
    }
    &:hover {
      background-color: #000000;
      .svg-icon {
        fill: #FFFFFF !important;
      }
      .sol-link h4 {
       color: #FFFFFF;
      }
      p {
        color: #FFFFFF;
      }
    }

    .svg-icon {
      min-height: 4rem;
      margin-bottom: 1rem;
    }
  }

  // Testimonials block
  .testimonials-block {
    background-color: #f3fbfe;
    padding: 3rem 1rem 1rem 1rem;
    border-radius: 18px;

    .titles h2 {
      font-size: 20px;
    }
    .titles h3 {
      font-size: 16px;
      font-style: normal;
      font-weight: 100;
    }

    .testimony-body .testimony-name {
      font-size: 18px;
    }
    .testimony-body .testimony-content {
      font-size: 14px;
    }
  }
}
