<section class="youtube-vid-container">
  <div class="container">
    <div class="row yt-flex">
      <div class="col-md-6 col-xs-12" data-aos="fade-up" data-aos-duration="1500">
        <iframe width="100%" height="358px" style="border-radius: 15px;" src="https://www.youtube.com/embed/mgMhoY4r0dU?si=1Y2InHUfmNsfezX6&amp;controls=0&modestbranding=1&showinfo=0&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 col-xs-12 px-5" data-aos="fade-up" data-aos-duration="1000">
        <h2 class="ceo-says">
          “We are identity security innovators and guardians who collectively stand for bringing out the best in one another to the benefit of our stakeholders around the world.”
        </h2>
        <dl>
          <dt class="mt-5">Sri Kiran</dt>
          <dd>Chief Executive Officer & Founder</dd>
        </dl>
      </div>
    </div>
  </div>
</section>