<section class="youtube-vid-container">
  <div class="container">
    <div class="row yt-flex">
      <div class="col-md-6 col-xs-12">
        <iframe [src]='safeURL' width="560" height="315" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 col-xs-12">
        <h2 class="ceo-says">
          “We are identity security innovators and guardians who collectively stand for bringing out the best in one another to the benefit of our stakeholders around the world.”
        </h2>
        <dl>
          <dt class="mt-5">Sri Kiran</dt>
          <dd>Chief Executive Officer & Founder</dd>
        </dl>
      </div>
    </div>
  </div>
</section>