<div class="solutions-container">
  <!-- Solutions Hero Section -->
  <solutions-hero [dataObj]="solutionData"></solutions-hero>
  <!-- IGA Solutions -->
  <iga-solutions></iga-solutions>
  <!-- Challenges -->
  <challenges></challenges>
  <!-- Solutions Partnership -->
  <solutions-partnership></solutions-partnership>
  <!-- IGA Implementation -->
  <iga-implementation></iga-implementation>
  <!-- Potential Differentiators -->
  <potential-differentiator></potential-differentiator>
  <!-- Consultation -->
  <consultation-component></consultation-component>
  <!-- Success Stories -->
  <success-stories></success-stories>
  <!-- Accelerators -->
  <accelerators-utilities></accelerators-utilities>
  <!-- Case Studies -->
  <case-studies></case-studies>
  <!-- Valued Customers -->
  <valued-customers></valued-customers>
  <!-- Consultation -->
  <!-- <consultation-component></consultation-component> -->
</div>
