<div class="solutions-container">
  <!-- Solutions Hero Section -->
  <solutions-hero [dataObj]="solutionData"></solutions-hero>
  <!-- IGA Solutions -->
  <iga-solutions [igaDataObj]="igaData"></iga-solutions>
  <!-- Challenges -->
  <challenges [benefitsDataObj]="challengesData"></challenges>
  <!-- Solutions Partnership -->
  <solutions-partnership></solutions-partnership>
  <!-- IGA Implementation -->
  <iga-implementation [whyChooseTDCObj]="whyChooseTDCDataObj"></iga-implementation>
  <!-- Potential Differentiators -->
  <potential-differentiator [potentialDiffObj]="potentialDiffDataObj"></potential-differentiator>
  <!-- Consultation -->
  <consultation-component></consultation-component>
  <!-- Success Stories -->
  <success-stories></success-stories>
  <!-- Accelerators -->
  <accelerators-utilities></accelerators-utilities>
  <!-- Case Studies -->
  <case-studies></case-studies>
  <!-- Valued Customers -->
  <valued-customers></valued-customers>
  <!-- Consultation -->
  <!-- <consultation-component></consultation-component> -->
</div>
