<!-- Challenges block -->
<section class="challenges-container">
  <div class="container">
    <section class="challenges-block">
      <h2 (click)="test()" (appear)="onAppear()" class="challenges-title">{{benefitsDataObj.qsnImportance}}</h2>
      <p class="para-text">{{benefitsDataObj.importanceText}}</p>
      <section class="challenges-row row">
        <!-- {{benefitsDataObj.benefits| json}} -->
          <article class="col-md-3 challenge-col" *ngFor="let bnf of benefitsDataObj.benefits">
            <!-- {{bnf | json}} -->
            <img class="challenge-img" src="../../assets/images/Thumbnail_1.png" alt="Free IGA Workshop Image">
            <h3 class="challenge-hdng">
              {{bnf?.bHdng}}
            </h3>
            <p class="challenge-content">
              {{bnf?.bContent}}
            </p>
            <!-- <a href="#" class="link-danger text-decoration-none">Learn More</a> -->
          </article>
      </section>
    </section>
  </div>
</section>