.challenges-container {
  .para-text {
    // font-size: 0.85rem;
  }
  .challenge-col {
    .challenge-hdng {
      font-size: 1.5rem;
    }
    .challenge-img {
      width: 95%;
      margin-bottom: 1rem;
    }
    .challenge-content {
      font-size: 0.85rem;
    }
  }
}