<!-- Challenges block -->
<section class="challenges-container">
  <div class="container">
    <section class="challenges-block">
      <h2 class="challenges-title">Challenges</h2>
      <section class="challenges-row row">
        <article class="col-md-4">
          <h3 class="challenge-hdng">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          </h3>
          <p class="challenge-content">
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>
        </article>
        <article class="col-md-4">
          <h3 class="challenge-hdng">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          </h3>
          <p class="challenge-content">
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>
        </article>
        <article class="col-md-4">
          <h3 class="challenge-hdng">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          </h3>
          <p class="challenge-content">
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>
        </article>
      </section>
    </section>
  </div>
</section>