.challenges-container {
  .para-text {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .challenges-row {
    margin: 2rem 0rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .challenge-col {
    padding-left: 0;

    @media screen and (max-width: 992px) {
      padding-right: 0 !important;
    }

    .challenge-hdng{
      font-size: 1.25rem !important;
    }
    .challenge-img {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 16px;
    }
    .challenge-content {
      font-size: 1rem;
    }
  }
}