<!-- Challenges block -->
<section class="challenges-container">
  <div class="container">
    <section class="challenges-block">
      <h2 class="challenges-title">Why is IGA important.</h2>
      <p>IGA is vital because it safeguards an organization’s digital assets by controlling who can access what, reducing security risks, and ensuring compliance with regulations. It enhances operational efficiency by streamlining user access management, which ultimately supports better productivity and lowers administrative overhead. In essence, IGA is crucial for both security and efficiency in modern organizations.</p>
      <section class="challenges-row row">
        <article class="col-md-3">
          <h3 class="challenge-hdng">
            Free IGA workshop
          </h3>
          <p class="challenge-content">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
          </p>
          <a href="#" class="link-danger text-decoration-none">Learn More</a>
        </article>
        <article class="col-md-3">
          <h3 class="challenge-hdng">
            Vendor Selection
          </h3>
          <p class="challenge-content">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
          </p>
          <a href="#" class="link-danger text-decoration-none">Learn More</a>
        </article>
        <article class="col-md-3">
          <h3 class="challenge-hdng">
            Strategic Deployment
          </h3>
          <p class="challenge-content">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
          </p>
          <a href="#" class="link-danger text-decoration-none">Learn More</a>
        </article>
        <article class="col-md-3">
          <h3 class="challenge-hdng">
            IGA Managed Services
          </h3>
          <p class="challenge-content">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
          </p>
          <a href="#" class="link-danger text-decoration-none">Learn More</a>
        </article>
      </section>
    </section>
  </div>
</section>