.success-stories {
  .success-stories-container {
    padding: 4rem 0 2rem 0;
  }
  .ss-hdng {
    font-size: 1.25rem;
    font-weight: normal;
  }
  .ss-content-para {
    font-size: 1.75rem;
    font-weight: 600;
    width: 75%;
    line-height: 1.25;
    margin-bottom: 2.5rem;
  }
}