.success-stories {

  background: linear-gradient(0deg, rgba(237, 248, 255, 0.548) 0%, rgba(237, 248, 255, 0.33) 100%), #FFF;

  .success-stories-container {
    // padding: 4rem 0 2rem 0;
  }
  .ss-hdng {
    font-size: 1.25rem;
    font-weight: normal;
  }
  .ss-content-para {
    font-size: 1.75rem;
    font-weight: 600;
    // width: 75%;
    line-height: 1.25;
    margin-bottom: 2.5rem;
  }

  .ss-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .ss-img-container img {
    width: 90%;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    border-radius: 16px;
  }
}
