<section class="success-stories">
  <div class="container">
    <section class="success-stories-container">
      <div class="row">
        <div class="ss-content col-md-6 col-xs-12">
          <h3 class="ss-hdng">Our Success Stories</h3>
          <p class="ss-content-para">Full range of consultant services and software solutions to help you quickly deploy critical Cybersecurity technologies.</p>
          <button class="btn btn-danger ss-read-more-btn">
            Read more..
          </button>
        </div>
        <div class="ss-img-container col-md-6 col-xs-12">
          <img style="width: 100%;" src="../../assets/images/gov-admin.JPG" alt="Governance Administration Mapping">
        </div>
      </div>
    </section>
  </div>
</section>
