<section @slideUp class="our-solutions">
  <div class="container">
    <header class="our-solutions-header">
      <div>
        <h2>Our Solutions in Identity Security</h2>
        <p class="our-solutions-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
      </div>
    </header>
    <div class="our-solutions-body flex-row-nowrap">
      <div class="our-solutions-blocks flex-row-wrap">
        <div class="our-solution sol-dark-blue">
          <h3>Identity Security</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
        </div>
        <div class="our-solution sol-dark-pink">
          <h3>Cyber Risk Visibility</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
        </div>
        <div class="our-solution sol-light-blue">
          <h3>Governance, Risk & Compliance</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
        </div>
        <div class="our-solution sol-dark-purple">
          <h3>Soc & Managed Solutions</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
        </div>
      </div>
      <div class="solution-workers">
        <!-- <img src="../assets/images/solutions-workers.JPG" alt=""> -->
      </div>
    </div>
  </div>
</section>
