<section @slideUp class="our-solutions">
  <div class="container">
    <header class="our-solutions-header">
      <div>
        <h2>Our Solutions in Identity Security</h2>
        <p class="our-solutions-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
      </div>
    </header>
    <div class="our-solutions-body row">
      <div class="our-solutions-blocks col-xs-12 col-md-6 col-lg-6 row">
        <div class="row">
          <div class="our-solution sol-dark-blue col-xs-12 col-md-6 col-lg-6">
            <h3>Identity Security</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
          </div>
          <div class="our-solution sol-dark-pink col-xs-12 col-md-6 col-lg-6">
            <h3>Cyber Risk Visibility</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
          </div>
        </div>
        <div class="row">
          <div class="our-solution sol-light-blue col-xs-12 col-md-6 col-lg-6">
            <h3>Governance, Risk & Compliance</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
          </div>
          <div class="our-solution sol-dark-purple col-xs-12 col-md-6 col-lg-6">
            <h3>Soc & Managed Solutions</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
          </div>
        </div>
      </div>
      <div class="solution-workers col-xs-12 col-md-6 col-lg-6">
        <img src="../assets/images/solutions-workers.JPG" alt="">
      </div>
    </div>
  </div>
</section>
