<section class="other-locations-banner py-5 mb-5">
  <div class="container">
    <section class="other-locations-container">
      <div class="row">
        <div class="col-md-4">
          <article class="other-locations">
            <h2>Other Locations</h2>
            <p class="subtitle">Discover our global reach—explore <br> our other locations worldwide.</p>
          </article>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4 location">
              <h3>United States</h3>
              <p>Head Office</p>
              <h3 class="mt-4">TechDemocracy Pvt Ltd</h3>
              <p>1 Corporate Place South Suite # 110, Piscataway, NJ 08854. Call Us : +1 732 404 8350</p>
            </div>
            <div class="col-md-4 location">
              <h3>India</h3>
              <p>Global Delivery Center</p>
              <h3 class="mt-4">Cotelligent India Pvt Ltd</h3>
              <p>Cotelligent India Pvt Ltd Survey No 83/1 Upper Ground Floor, The Skyview 20 Raidurgam, Hyderabad 500081 India</p>
            </div>
            <div class="col-md-4 location">
              <h3>Canada</h3>
              <p>Global Delivery Center</p>
              <h3 class="mt-4">TechDemocracy Ltd</h3>
              <p>#846, 8th Floor Mississauga – Toronto Airport Corporate Center 2425 Matheson Blvd East Mississauga, ON L4W 5K4 Canada</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>