<section class="what-we-do">
  <div class="container">
    <section class="what-we-do-container">
      <div class="row py-5">
        <div class="what-we-do-content col-md-6 col-xs-12">
          <p class="subtitle m">What We Do</p>
          <h2>Focused on Cybersecurity<br>Driven by integrity.</h2>
          <ul class="what-we-do-list">
            <li><span>Navigating the Cybersecurity Landscape with Expertise</span></li>
            <li><span>Elevating Cyber Protection for a Safer Digital Tomorrow</span></li>
            <li><span>Empowering Secure Digital Futures</span></li>
          </ul>
        </div>
        <div class="about-us-secondary col-md-6 col-xs-12">
          <h2 class="secondary-hdng">Securing the modern enterprise, today and tomorrow</h2>
          <div class="row">
            <div class="col-md-4">
              <h3>20+</h3>
              <p>Years of experience In Cybersecurity</p>
            </div>
            <div class="col-md-4">
              <h3>15M+</h3>
              <p>User identities Supported Gobally</p>
            </div>
            <div class="col-md-4">
              <h3>100+</h3>
              <p>Certified Cyber Professional</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>