<section class="guiding-principles">
  <div class="container">
    <section class="guiding-princ-container mt-5">
      <h2 class="gp-heading">Our Guiding Principles</h2>
      <section class="row mt-5">
        <article class="col-md-4 col-xs 12" data-aos="fade-up" data-aos-duration="1000">
          <h3 class="tts-heading">Trusted.</h3>
          <p class="">
            We focus on service delivery excellence and consistent project execution in order to become that valued partner for our customers, across all their cybersecurity needs.
          </p>
        </article>
        <article class="col-md-4 col-xs 12" data-aos="fade-up" data-aos-duration="1000">
          <h3 class="tts-heading">Transformative.</h3>
          <p class="">
            We go beyond standard checklist activities in our consulting and instead employ a targeted and tailored approach for the unique needs of each customer.
          </p>
        </article>
        <article class="col-md-4 col-xs 12" data-aos="fade-up" data-aos-duration="1000">
          <h3 class="tts-heading">Secure.</h3>
          <p class="">
            We focus on Cybersecurity as our core focus and are committed to providing our customers with the best of breed cybersecurity solutions.
          </p>
        </article>
      </section>
    </section>
  </div>
</section>