<section class="solutions-partnership">
  <div class="container">
    <h2 class="partner-text">TechDemocracy has expertise and certified experience in various IGA tools: ForgeRock, IBM, Okta, SailPoint and Saviynt.</h2>
    <div class="img-container flex-row-nowrap">
      <img src="../../assets/images/sailpoint-logo.png" alt="Sailpoint Logo">
      <img src="../../assets/images/Rapid-7-Logo.png" alt="Rapid-7 Logo">
      <img src="../../assets/images/RSA.png" alt="RSA Logo">
    </div>
  </div>
</section>