<section class="solutions-partnership">
  <div class="container">
    <h2 class="partner-text">TechDemocracy has expertise and certified experience in various IGA tools: ForgeRock, IBM, Okta, SailPoint and Saviynt.</h2>
    <div class="img-container flex-row-wrap row">
      <img src="../../assets/images/Partners/Sailpoint.svg" class="col-md-4" alt="Sailpoint Logo">
      <img src="../../assets/images/Partners/Okta.svg" class="col-md-4" alt="Okta">
      <img src="../../assets/images/Partners/RSA.svg" class="col-md-4" alt="RSA Logo">
    </div>
  </div>
</section>