<section class="solutions-partnership">
  <div *ngIf="solutionType === 'Identity Governance & Administration'" class="container">
    <h2 class="text-light" data-aos="fade-up" 
    data-aos-duration="1000">TechDemocracy has expertise and certified experience in various tools:</h2>
    <div class="img-container flex-row-wrap row">
      <img src="../../assets/images/Partners/Sailpoint.svg" class="col-md-4" alt="Sailpoint Logo">
      <img src="../../assets/images/Partners/Saviynt.svg" class="col-md-4" alt="Saviynt Logo">
      <img src="../../assets/images/Partners/Opentext.svg" class="col-md-4" alt="OpenText Logo">
      <!-- <img src="../../assets/images/Partners/RSA.svg" class="col-md-4" alt="RSA Logo"> -->
    </div>
  </div>
  <div *ngIf="solutionType === 'Customer Identity & Access Management'" class="container">
    <h2 class="text-light" data-aos="fade-up" 
    data-aos-duration="1000">TechDemocracy has expertise and certified experience in various tools:</h2>
    <div class="img-container flex-row-wrap row">
      <img src="../../assets/images/Partners/PingIdentity.svg" class="col-md-4" alt="PingIdentity Logo">
      <img src="../../assets/images/Partners/Okta.svg" class="col-md-4" alt="Okta Logo">
      <img src="../../assets/images/Partners/LogosThales.svg" class="col-md-4" alt="Thales Logo">
      <img src="../../assets/images/Partners/TransmitSecurity.png" class="col-md-4" alt="TransmitSecurity  Logo">
    </div>
  </div>
  <div *ngIf="solutionType === 'Previliged Access Management'" class="container">
    <h2 class="text-light" data-aos="fade-up" 
    data-aos-duration="1000">TechDemocracy has expertise and certified experience in various tools:</h2>
    <div class="img-container flex-row-wrap row">
      <img src="../../assets/images/Partners/CyberARK.svg" class="col-md-4" alt="CyberARK Logo">
      <img src="../../assets/images/Partners/BeyondTrust.svg" class="col-md-4" alt="BeyondTrust Logo">
      <!-- For acron logo -->
      <!-- <img src="../../assets/images/Partners/Delinea.svg" class="col-md-4" alt="Delinea"> -->
      <img src="../../assets/images/Partners/Delinea.svg" class="col-md-4" alt="Delinea Logo">
      <img src="../../assets/images/Partners/Saviynt.svg" class="col-md-4" alt="Saviynt Logo">
    </div>
  </div>
  <div *ngIf="solutionType === 'Access Management'" class="container">
    <h2 class="text-light" data-aos="fade-up" 
    data-aos-duration="1000">TechDemocracy has expertise and certified experience in various tools:</h2>
    <div class="img-container flex-row-wrap row">
      <img src="../../assets/images/Partners/PingIdentity.svg" class="col-md-4" alt="PingIdentity Logo">
      <img src="../../assets/images/Partners/Okta.svg" class="col-md-4" alt="Okta Logo">
      <img src="../../assets/images/Partners/LogosThales.svg" class="col-md-4" alt="Thales Logo">
      <!-- <img src="../../assets/images/Partners/Sailpoint.svg" class="col-md-4" alt="Sailpoint Logo"> -->
      <img src="../../assets/images/Partners/HYPR.svg" class="col-md-4" alt="Hypr Logo">
    </div>
  </div>
  <div *ngIf="solutionType === 'Manage SOC'" class="container">
    <h2 class="text-light" data-aos="fade-up" 
    data-aos-duration="1000">TechDemocracy has expertise and certified experience in various tools:</h2>
    <div class="img-container flex-row-wrap row">
      <img src="../../assets/images/Partners/Seceon.svg" class="col-md-4" alt="Seceon Logo">
      <img src="../../assets/images/Partners/IBM.svg" alt="IBM Logo">
      <img src="../../assets/images/Partners/Securonix.png" class="col-md-4" alt="Securonix Logo">
      <!-- <img src="../../assets/images/Partners/RSA.svg" class="col-md-4" alt="RSA Logo"> -->
    </div>
  </div>
</section>
