<section class="resources-highlights-container">
  <section class="px-4 py-5 my-5 resources-highlights-section">
    <div class="container">
      <section class="row gx-5 d-flex justify-content-between">
        <div class="col-md-6 col-xs-12 first-col">
          <span class="badge rounded-pill solutions-pill text-bg-dark">Resources</span>
          <h1>Techdemocracy Identity Articles, CaseStudies, Videos</h1>
        </div>
        <div class="col-md-6 col-xs-12 second-col">
          <p>Upcoming events</p>
          <h2 class="pt-3 txtbg">
            Webinar : Building a Frictionless identity joureny in the Regulated
            industry
          </h2>
          <p>14th November 2023, 01:48 PM</p>
        </div>
      </section>

      <section class="row gx-5 pt-4 d-flex justify-content-between">
        <div class="col-md-6 col-xs-12 first-col"
          *ngFor="let resource of resourceJson | slice: (resourceJson?.length > 2 ? resourceJson?.length - 2 : 0); index as i">
          <section class="prefered-caseStudie py-3">
            <article (click)="open(resource?.id)" class="resourceimg cursor">
              <img src="{{'http://localhost:1337' + resource?.attributes?.HeroImage?.data?.attributes?.url}}"
                alt="{{resource?.attributes?.HeroImage?.data?.attributes?.hash}}">
            </article>
            <p class="events pt-3">{{resource?.attributes?.ResourceType}}</p>
            <!-- <label class="events pt-3">Customer Story</label> -->
            <h3 class="prefered-size text-dark">
              {{resource?.attributes?.Comments}}
            </h3>
          </section>
        </div>
        <!-- <div class="col-md-6 col-xs-12 second-col">
          <div class="prefered-caseStudie py-3">
            <div class="resourceimg">
              <img src="../../assets/images/Resource/TelecomInd.png" />
            </div>
            <label class="events pt-3">Whitepapers</label>
            <h3 class="prefered-size text-dark">
              ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
              qui odit vel, tenetur deleniti, ratione eligendi
            </h3>
          </div>
        </div> -->
      </section>
    </div>
  </section>
</section>
