<section class="resources-highlights-container">
  <section class="px-4 py-5 my-5 resources-highlights-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 first-col">
          <h2>Techdemocracy Identity Articles, CaseStudies, Videos</h2>
          <section class="prefered-caseStudie">
            <article class="prefernces prefered-size breathing-space-bottom gutter-top-1">

            </article>
            <label class="events">Customer Story</label>
            <p class="prefered-size"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam qui odit
                vel,
                tenetur deleniti,
                ratione
                eligendi aliquid vitae</strong></p>
          </section>
        </div>
        <div class="col-md-6 second-col">
          <label>Upcoming events</label>
          <h6>
            Webinar : Building a Frictionless identity joureny in the Regulated industry
          </h6>
          <label>14th November 2023, 01:48 PM</label>
          <section class="prefered-caseStudie">
            <article class="prefernces prefered-size breathing-space-bottom gutter-top-1">

            </article>
            <label class="events">Whitepapers</label>
            <p class="prefered-size"><strong>ipsum dolor sit amet consectetur adipisicing elit. Quibusdam qui odit vel,
                tenetur deleniti,
                ratione
                eligendi aliquid vitae</strong></p>
          </section>
        </div>
      </div>
    </div>
  </section>
</section>
