.resources-highlights-container {
  position: relative;
  // .resources-highlights-pill {
  //   font-weight: normal;
  //   letter-spacing: 0.125rem;
  //   margin-bottom: 1rem;
  // }
  .resources-highlights-section {
    background: linear-gradient(105deg, #173cb4 0%, #009dff 49.9%, #173cb4 100%);
    // border: 1px solid #707070;
    color: #ffffff;
    height: 24rem;
  }
  .first-col {
    position: relative;
  }
  .second-col {
    position: relative;
  }
  .prefered-caseStudie {
    position: relative;
    // top: 100%;

  }
  .resourceimg {
    height: 356px !important;
    @media screen and (max-width: 992px) {
      height: 280px !important;
    }
  }
  .events {
    color: #dc3545;
  }

  .prefered-size {
    width: 100%;
    height: auto;
    border-radius: 16px;
  }

  .solutions-pill {
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 0.125rem;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
    opacity: 0.75;
  }
}
