.iga-implementation {
  .iga-implementation-container {
    padding: 4rem 0 2rem 0;
  }
  .iga-hdng {
    font-size: 1.75rem;
    font-weight: 600;
  }
  .iga-content-para {
    font-size: 1rem;
    font-weight: normal;    
    width: 75%;
    line-height: 1.25;
    margin-bottom: 2.5rem;
  }
}