.iga-implementation {
  .iga-implementation-container {
    padding: 4rem 0 2rem 0;
  }
  .iga-hdng {
    width: 80%;
  }

  .iga-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 1.5rem 0;
  }

  .iga-content-para {
    // font-size: 0.85rem;
    width: 75%;
    line-height: 1.5;
    margin-bottom: 2.5rem;
  }
}