<div class="testimonials-container" 
data-aos="slide-up" 
data-aos-duration="2000" 
data-aos-offset="50"
data-aos-delay="30"
data-aos-easing="ease-in-out">
  <div class="container">
    <div class="testimonial-header flex-row-nowrap">
      <h2>Testimonials from Satisfied Customers</h2>
      <div class="nav-btn-container flex-row-nowrap">
        <button type="button" (click)="scrollLeft()" class="btn btn-outline-secondary gutter-right-1">
          <svg-icon-component [name]="'chevron_left'"></svg-icon-component>
        </button>
        <button type="button" (click)="scrollRight()" class="btn btn-outline-secondary">
          <svg-icon-component [name]="'chevron_right'"></svg-icon-component>
        </button>
      </div>
    </div>
    <div #widgetsContent class="testimonials row flex-row-nowrap">
      <div class="col-md-6" *ngFor="let testimony of testimonialsData">
        <div class="testimonial">
          <blockquote>
            <p>
              {{testimony.tContent}}
            </p>
          </blockquote>
          <div class="client space-left-2">
            <img src="{{testimony.tClientImg}}" alt="">
            <h5 class="role-name">{{testimony.tRole}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
