@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.testimonials-container {
  .testimonial-header {
    justify-content: space-between;
    align-items: center;
    .nav-btn-container {
      .btn-outline-secondary {
        &:hover {
          .svg-icon svg {
            fill: #ffffff !important;
          }
        }
      }
      .back-ctrl {
        margin-right: 1rem;
      }
      .back-ctrl,
      .next-ctrl {
        border: 1px solid #b1b1b1;
        background-color: #fdfdfd;
        padding: 1rem;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        color: #000;
        font-weight: 500;
        font-size: 24px;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
  .testimonials {
    margin-top: 2rem;
    overflow: auto;
  }
  .testimonials {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .testimonials::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .testimonial {
    padding: 1rem 2rem;
    border: 1px solid #7070704d;
    border-radius: 30px;
    min-height: 250px;
    max-height: 300px;
    overflow-y: hidden;

    blockquote {
      margin: 0;
    }
    blockquote:before {
      content: open-quote;
    }

    blockquote:after {
      content: close-quote;
      visibility: hidden;
      // position: absolute;
    }

    blockquote p {
      padding-left: 2rem;
      // font-family: "Roboto Slab", serif;
      color: rgba(0, 0, 0, 0.8);
      max-height: 100px;
      overflow-y: hidden;
      white-space: pre-line;
      text-overflow: ellipsis;
    }

    blockquote:before {
      display: inline-block;
      vertical-align: bottom;
      color: red;
      font-size: 4em;
      top: 0.2em;
      position: relative;
      height: 2.5rem;
    }
    .client img {
      width: 30%;
      height: auto;
      // margin-left: -5px;
    }
  }
  .role-name {
    font-size: 0.85rem;
    font-weight: 600;
  }
}
