<section class="casestudies-container py-4">
  <section class="px-4 py-3">
    <div class="container">
      <section class="casestudies-section row">
        <article class="casestudies-content col-md-12 text-light" data-aos="fade-up" data-aos-duration="1000">
          <h2>Case Studies</h2>
          <div class="view-casestudies gutter-bottom-2">
            <p>Some of our Client’s Success Stories</p>
            <a *ngIf="listOfCaseStudies?.length <= 2" class="nav-link" routerLink="/resources"
              routerLinkActive="active">View All</a>
          </div>
          <!-- <button *ngFor="let btn of buttonsList" type="button" class="btn btn-outline-light">{{btn}}</button> -->
          <section class="casestudies-action">
            <div class="slideshow-container">
              <div *ngIf="listOfCaseStudies?.length >= 6" class="left" (click)="scrollLeft()">
                <svg-icon-component [name]="'navigate_before'"></svg-icon-component>
              </div>
              <!-- [ngClass]="{'disabled':currentPage === 1}" -->
              <!-- [ngClass]="{'w-100': totalPages === 1}" -->
              <div #widgetsContent id="Casestudies" class="cards">
                <div class="overflow flex-row-nowrap">
                  <!-- [ngStyle]="{'width': overflowWidth, 'left': pagePosition}" -->
                  <article class="casestudie-card-body" *ngFor="let resource of listOfCaseStudies; let index = index">
                    <div (click)="open(resource)" class="card cursor">
                      <!-- [ngStyle]="{'width': cardWidth}" -->
                      <!-- <span>{{i}}</span> -->
                      <img
                        src="{{'http://localhost:1337' + resource?.attributes?.FeaturedImage?.data?.attributes?.url}}"
                        alt="{{resource?.attributes?.FeaturedImage?.data?.attributes?.hash}}">
                    </div>
                    <div class="card-content">
                      <!-- <p>Legacy Identity Technology to Modern Identity Governance Case Study</p> -->
                      <p>{{resource?.attributes?.HeadingTitle}}</p>
                    </div>
                  </article>
                </div>
              </div>
              <!-- [ngClass]="{'disabled':currentPage === totalPages}" -->
              <div *ngIf="listOfCaseStudies?.length >= 6" class="right" (click)="scrollRight()">
                <svg-icon-component [name]="'navigate_next'"></svg-icon-component>
              </div>
            </div>
          </section>
        </article>
      </section>
    </div>
  </section>
</section>
