.leadership-banner {
  background-color: #F5F7FD;
  .leadership-content {
    justify-content: space-between;
    p {
      width: 85%;
      margin-bottom: 0;
    }
  }
  .leadership-strip {
    width: 80%;
  }
}