.leadership-banner {
  background-color: #F5F7FD;
  .leadership-content {
    justify-content: space-between;
    // h3 {
    //   color: #21252980;
    //   font-size: 14px;
    // }
    p {
      width: 85%;
      margin-bottom: 0;
    }
  }
}