<section class="leadership-banner py-5">
  <div class="container">
    <section class="leadership-banner-container">
      <div class="row py-5">
        <div class="col-md-8 leadership-content flex-col-nowrap">
          <h2>Leadership</h2>
          <h3>Meet the Leaders Steering TechDemocracy </h3>
          <p>At TechDemocracy, our leadership comprises seasoned identity security visionaries who not only welcome
            novel ideas and daring strategies but are also dedicated to fostering innovation and making a lasting
            impact. As mentors, guides, and motivators driven by unwavering integrity, our leadership inspires
            TechDemocracy's team members to consistently strive for excellence.</p>
          <div class="mt-3">
            <button class="btn btn-outline-danger">Go to Leadership</button>
          </div>
        </div>
        <div class="col-md-4">
          <img src="../../assets/images/leadership-dum.JPG" alt="Our Leadership Picture">
        </div>
      </div>
    </section>
  </div>
</section>