<section class="leadership-banner py-5">
  <div class="container">
    <section class="leadership-banner-container">
      <div class="row">
        <div class="col-md-8 leadership-content flex-col-nowrap">
          <h3>LEADERSHIP</h3>
          <h4>The team taking us to the next level</h4>
          <p>SailPoint is led by seasoned identity security experts who embrace new ideas and bold approaches. This is a team committed to empowering innovation and delivering impact. They are mentors, guides, and motivators driven by integrity, who inspire SailPoint Crew members to always bring out their best.</p>
          <div class="mt-3">
            <button class="btn btn-outline-danger">Go to Leadership</button>
          </div>
        </div>
        <div class="col-md-4">
          <img src="../../assets/images/leadership-dum.JPG" alt="Our Leadership Picture">
        </div>
      </div>
    </section>
  </div>
</section>