//Display Headings
.blog-container {
  h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 2.75rem !important;
    font-weight: 700 !important;
    // color: #222;
    line-height: 3rem;

    @media screen and (max-width: 992px) {
      font-size: 2rem !important;
      line-height: 2.5rem;
    }
  }

  h2 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600 !important;
    color: #222;
    font-size: 2rem !important;
    line-height: 2.25rem !important;
    margin-top: 3rem !important;
    // line-height: calc(100% + 4px);
    @media screen and (max-width: 992px) {
      font-size: 1.5rem !important;
    }
  }

  h3 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    color: #222;
    margin-top: 3rem !important;
    // line-height: calc(100% + 4px);
    @media screen and (max-width: 992px) {
      font-size: 1.25rem !important;
    }
  }

  h4 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 1.25rem !important;
    font-weight: 600 !important;
    color: #222;
    line-height: 1.6rem !important;

    @media screen and (max-width: 992px) {
      font-size: 1.4rem !important;
      line-height: 1.8rem !important;
    }
  }

  h5 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 1rem !important;
    font-weight: 600 !important;
    color: #222;
    line-height: 1.6rem !important;
    @media screen and (max-width: 992px) {
      font-size: 1rem !important;
    }
  }

  //Headings

  //body

  p {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 1.15rem !important;
    line-height: 1.9rem;
    opacity: 0.9;
    // color: red !important;
    // padding-block: 0;
    // color: rgb(55, 55, 55);
    // color: #444444;
  }

  .publishdate {
    font-size: 14px !important;
    opacity: 0.5;
  }

  .subtitle {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-style: normal;
    font-size: 1.25rem !important;
    line-height: 1.85rem;
    // line-height: calc(100% + 4px);
    font-weight: 400;
    // color: #212529;
    opacity: 0.7;
    word-break: break-word;
    word-wrap: break-word;
    @media screen and (max-width: 992px) {
      font-size: 1rem !important;
    }
  }

  .a {
    color: #212529;
    font-size: 1.5rem !important;
    font-weight: 500;
    line-height: 1.85;
  }
  .label {
    font-style: normal;
    font-size: 1.15rem;
    line-height: 1.85rem;
    word-break: break-word;
    word-wrap: break-word;
  }

  ol,
  ul {
    display: block;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  ul,
  ol,
  li {
    // list-style-type: disc;

    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 1.15rem !important;
    line-height: 1.9rem;
    // opacity: 0.9;
    // text-indent: 10%;
  }

  blockquote {
    font-size: 1.4em;
    width: auto;
    margin: 50px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #222;
    line-height: 1.6;
    position: relative;
    background: #ededed;
  }

  blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #222;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
  }

  blockquote::after {
    content: "";
  }

  blockquote p {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
    span {
      background-color: none !important;
    }
  }
  

  a {
    color: #dc3545 !important;
    font-size: 1.15rem !important;
    line-height: 1.9rem;
    opacity: 0.9;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  colgroup {
    col {
      width: 20%;
      padding: 10px;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
    }
  }

  thead tr th {
    font-weight: 600 !important;
    background-color: #333 !important;
    color: #fff;
  }

  tbody {
    border: 1px solid #ddd;
  }

  tr {
    transition: background-color 0.3s;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    // background-color: #e0e0e0;
  }

  td,
  th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    // background-color: #4caf50;
    // color: white;
  }

  img {
    aspect-ratio: 960/638;
    width: 100% !important;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    margin: 1rem 0rem;
  }
  // Image Zoom Hover
  .zoomhover {
    overflow: hidden;
    border-radius: 16px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 16px;
      transition: 0.3s all ease-in-out;

      &:hover {
        position: relative;
        cursor: pointer;
        width: 100%;
        transform: scale(1.1);
      }
    }
  }
}
