<div class="solutions-container">
  <!-- Solutions Hero Section -->
  <solutions-hero [dataObj]="solutionData"></solutions-hero>
  <!-- IGA Solutions -->
  <iga-solutions></iga-solutions>
  <!-- Challenges -->
  <challenges></challenges>
  <!-- Potential Differentiators -->
  <potential-differentiator></potential-differentiator>
  <!-- Consultation -->
  <consultation-component></consultation-component>
  <!-- Success Stories -->
  <success-stories></success-stories>
  <!-- Accelerators -->
  <accelerators-utilities></accelerators-utilities>
  <!-- Valued Customers -->
  <valued-customers></valued-customers>
  <!-- Consultation -->
  <consultation-component></consultation-component>
</div>