<section class="leadership py-5">
  <div class="container">
    <header class="leadership-header">
      <h2 class="ld-main-heading">Leadership</h2>
      <div class="hero-container zoomhover"  data-aos="fade-up" 
      data-aos-duration="1000">
        <div class="leaders-intro">
          <h1 class="banner-heading">Meet our Team</h1>
          <p class="subtitle">Our leaders inspire us to push boundaries and achieve greatness.</p>
        </div>
        <div class="bg-cust-color"></div>
        <img src="../../../../assets/images/heroimages/Leadership.png" alt="Meet our Leadership cover image" class="leadership-hero-img">
      </div>
    </header>
  </div>
</section>