<section class="leadership py-5">
  <div class="container">
    <header class="leadership-header">
      <h2>Leadership</h2>
      <div class="hero-container zoomhover"  data-aos="fade-up" 
      data-aos-duration="1000">
        <div class="leaders-intro">
          <h2>Meet our Leadership Team</h2>
          <p>Our leaders inspire us to push boundaries and achieve greatness.</p>
        </div>
        <div class="bg-cust-color"></div>
        <img src="../../../../assets/images/heroimages/Leadership.png" alt="" class="leadership-hero-img">
      </div>
    </header>
  </div>
</section>