<div class="events-container">
  <div class="container">
    <div class="view-all flex-row-nowrap py-4">
      <h2 class="">Upcoming Events</h2>
      <button *ngIf="upcomingEventIndex === 3" (click)="viewUpcomingEvent()" class="btn btn-outline-danger gutter-bottom-1">View All</button>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5" *ngFor="let event of upcomingEvents | slice:0:upcomingEventIndex;">
        <article class="resourceimg">
          <img class="" src="../../assets/images/Resource/TelecomInd.png" />
        </article>
        <div class="event-info pt-3">
          <label class="events">Webinar</label>
          <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam qui odit
          vel,
          tenetur deleniti,
          ratione
          eligendi aliquid vitae</h4>
          <p class="event-time">14th November 2023, 06:43 PM</p>
          <button class="btn btn-outline-danger gutter-bottom-1 register-btn">Register</button>
        </div>
      </div>
    </div>
    <div class="view-all flex-row-nowrap py-4">
      <h2 class="">Latest Videos</h2>
      <button *ngIf="latestVideosIndex === 3" (click)="viewAllVideos()" class="btn btn-outline-danger gutter-bottom-1">View All</button>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5" *ngFor="let video of latestVideos | slice:0:latestVideosIndex">
        <article class="resourceimg">
          <img class="" src="../../assets/images/Resource/TelecomInd.png" />
        </article>
        <div class="event-info pt-3">
        <label class="events">Videos</label>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam qui odit
            vel, tenetur deleniti ratione eligendi aliquid vitae</h4>
      </div>
    </div>
    </div>
  </div>
</div>
