.events-container {
  margin-top: 5rem;
  margin-bottom: 4rem;
  .prefernces {
    height: auto;
    img {
    // min-height: 18rem;
    // background: #edf2fb;
    filter: saturate(70%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
  }}
  label {
    color: #dc3545;
    font-size: 14px !important;
  }

  .prefered-size {
    width: 100%;
    border-radius: 4px;
  }
  .event-info {
    height: 50%;
  }
  .register-btn {
    border-radius: 25px;
  }
  .event-time {
    font-size: 12px;
  }
  .view-all {
    display: flex;
    justify-content: space-between;

    .btn {
      width: 10%;
      height: 10%;
    }
  }
}
